<div class="opv_cardItem"  ng-class="::{ startDateHt: importedScope.startDate && importedScope.dueDate }">  

<div>{{importedScope.getItemText($parent.$parent.$parent.item)}}
    <div class='PONRIcon' ng-if="importedScope.isPONREnabled($parent.$parent.$parent.item);">
        <vloc-card-icon icon="'skip'" sprite="'utility'" size="'small'" extra-classes="skipIcon"></vloc-card-icon>
        <vloc-card-icon icon="'error'" sprite="'utility'" size="'small'" extra-classes="errorIcon"></vloc-card-icon>
    </div>
    <br>
     {{$parent.$parent.$parent.item.additionalName}}
</div>
<div style="display:flex;"><span ng-if="$parent.$parent.$parent.item['startDate']">{{::$root.vlocity.getCustomLabel('XOMStart', 'Start')}} : </span> <span>{{$parent.$parent.$parent.item['startDate']}}</span></div>
<div style="display:flex;"><span ng-if="$parent.$parent.$parent.item['dueDate']">{{::$root.vlocity.getCustomLabel('XOMDue', 'Due')}}  : </span> <span>{{$parent.$parent.$parent.item['dueDate']}}</span></div>
</div>
 <table ng-init="tableItem=$parent.$parent.$parent.item">
    <tr>
        <td>
            <div class="TaskAction" ng-controller="actionRedirectController as ar" ng-init="itemId=$parent.$parent.$parent.$parent.item.id; customTaskExecUrl=$parent.$parent.$parent.$parent.item.customTaskExecutionUrl;">
                <div class="" ng-repeat="action in data.actions | limitTo: (data.limitActionLinksTo?data.limitActionLinksTo:1)" title="{{$root.vlocity.getCustomLabel('XOMViewTaskDetails', action.displayName)}}">
                     <a href="#" ng-click="ar.performAction(action,params,itemId,customTaskExecUrl);">
                        <i ng-if="!action.imageRef" class="icon {{action.vlocityIcon}}" ></i>
                    </a>
                </div>
            </div>
        </td>
        <td>
             <div ng-if="tableItem && importedScope.hasExternalOrchItem(tableItem)" data-html="true" id="externalDep-{{tableItem.id}}" class="externalDepInfo" bs-tooltip="importedScope.getExternalDepItemTooltip(tableItem)">
                 <a ng-click="importedScope.linkToExternalPlan(tableItem);">
                     <i class="icon icon-v-information"></i>
                 </a>
             </div>
        </td>
        <td>
            <div ng-class="(importedScope.languageRTL=='rtl') ? 'viewMorertl' : 'viewMore'" ng-click="importedScope.viewMore($parent.$parent.$parent.item);" ng-init="vm=importedScope.viewMoreText();">{{$parent.$parent.$parent.item.viewMoreText}}</div> 
        </td>
    </tr>
</table>