/*** CPQ THEME VARIABLES ***/
@import "cpq-theme-variables";

/* $cpq-namespace is defined in cpq-base-variables */
$namespace: $cpq-namespace;

/*** STYLES ***/
.vlocity {
    &.via-slds {
        .#{$namespace}-base-header-card {
            .#{$namespace}-dropdown-to-btn {
                left: -110%;
            }
            .#{$namespace}-base-header-picklist-label {
                width:9rem;
            }
            .#{$namespace}-base-header-dropdown {
                width:9rem;
            }
            .#{$namespace}-base-header-title {
                display: block;
                word-wrap: break-word;
                max-width: 10rem;
            }  
            .#{$namespace}-base-header-badge {
                padding: 5px 15px;
                margin: auto;
                margin-right: 5px;
            }  
        }
        .record-type-badge {
            background-color: #027e46;
            color: white;
        }
    }
}

[dir=rtl] .vlocity {
    &.via-slds {
        .#{$namespace}-base-header-card {
            .#{$namespace}-dropdown-to-btn {
                right: -1rem;
            }
        }
    }
}