@import "variables";
@import "community-variables";

.vlocity {
    .community {
        /* ads */
        .ads {
            text-align: center;
            margin-top: 15px;
            overflow-x: hidden;
        }
    }
}