<div class="vlc-slds-edit-block--Long-cards_container">
   <div class="vlc-slds-edit-block--cards_images">
       <slds-svg-icon sprite="control.propSetMap.svgSprite" extra-classes="'vlc-slds-edit-block--Long-icon'" icon="control.propSetMap.svgIcon" size="'large'" ng-if="showDefaultEditBlockImage(control)"></slds-svg-icon>
       <slds-svg-icon sprite="icon.svgSprite" icon="icon.svgIcon" size="'large'" extra-classes="'vlc-slds-edit-block--Long-icon'" ng-repeat='icon in control.propSetMap.valueSvgMap' ng-if="control.propSetMap.elementName !=='' && control.response[control.propSetMap.elementName] == icon.value"> </slds-svg-icon>
    </div>

    <div class="vlc-slds-edit-block--cards_controls-container">
        <div ng-repeat='child in children = control.children' 
                ng-if='child.eleArray[0].propSetMap.hide||(!child.eleArray[0].propSetMap.show || evaluateShow(child.eleArray[0], this))'
                ng-hide='!child.displayInView'
                ng-init="child.blockIndex = control.index">
            <ng-form name="editblockform"
                ng-include="'vlcEditBlockInnerForm.html'" style="display: block !important; padding-bottom: 0;">
            </ng-form>
        </div>
    </div>

    <div class="slds-edit-block_inline-action-container">
        <span class="slds-required vlc-asterix icon-v-asterix vlc-editblock-asterix" ng-if="isEditBlockRecordInvalid($index, this)"></span>

        <slds-svg-icon sprite="'utility'"
            icon="'close'"
            extra-classes="'slds-editblock_delete'"
            size="'small'"
            ng-if="control.propSetMap.allowDelete"
            ng-click="removeItemEditBlock(child, $index, this); $event.stopPropagation();"></slds-svg-icon>
    </div>
</div>