/* Variables */
$theme-colour: #0081f9; /*#0081f9;*/
$subtitle-colour: #6a6f7f; /*#6a6f7f;*/
$white-text-colour: #FFFFFF; /*#FFFFFF*/
$discount-colour: #1e9b62; /*#1e9b62;*/
$circle-colour-1: #7fbffc; /*#7fbffc;*/
$circle-colour-2: #dadbdf; /*#dadbdf;*/