/*** VARIABLES ***/
    $black: #000000;
    $white: #FFFFFF;

    $dark-gray: #7c7c7c;
    $text-gray: #9999a7;
    $middle-dark-gray: #c7c7c7;
    $mid-gray: #d8d8d8;
    $middle-light-gray: #dedede;
    $light-gray: #f2f2f2;
    $lightest-gray: #f8f8f8;

    $dark-blue: #008ab3;
    $light-blue: #05a6df;

    $warning: #eac438;
    $success: #58a300;
    $error: #f65327;

    $font-family: "proxima-nova", sans-serif;
    $font-size: 14px;
    $line-height: 20px;
    $font-title-size: 28px;
    $font-heading-size: 22px;
    $font-thin: normal 100 14px/18px $font-family;
    $font-light: normal 300 14px/18px $font-family;
    $font-regular: normal 400 14px/18px $font-family;
    $font-semibold: normal 600 14px/18px $font-family;