.vlocity {
    .flyout-actions-card{
        float:left;
        margin-right:10px;
        .title {
            font-weight:bold;
            padding-bottom:10px;
            text-transform:uppercase;
        }
        ul {
            width:350px;
            max-width:400px;
            li {
                float:left;
                width:170px;
                height:40px;
                padding:10px 10px 10px 0px;
                a {
                    font-size:12px;
                    &:hover span {
                        color: #05a6df;
                    }
                    i{
                        display:table-cell;
                        vertical-align:middle;
                        font-size:25px;
                        line-height:25px;
                        color: #05a6df;
                        width:35px;
                    }
                    span {
                        display:table-cell;
                        vertical-align:middle;
                        color: #9999a7;
                        font-size:12px;
                        line-height:16px;
                    }
                }
            }
        }
        
    }
}