<div ng-repeat='file in control.response' class='nds-m-top_small vlc-image-preview'>

    <div class="nds-m-bottom_small">
    
        <img ng-if="bpTree.filesMap[file.data] && bpTree.filesMap[file.data].substring(0,4) === 'data' && !control.propSetMap.uploadContDoc"
             class="vlc-thumb"
             ng-src="{{bpTree.filesMap[file.data]}}" />

        <img ng-if="(!bpTree.filesMap[file.data] || bpTree.filesMap[file.data].substring(0,4) !== 'data') && !control.propSetMap.uploadContDoc"
             class="vlc-thumb"
             ng-src="{{::instanceHost}}/servlet/servlet.FileDownload?file={{bpTree.filesMap[file.data]}}"/>

        <img ng-if="(!bpTree.filesMap[file.data] || bpTree.filesMap[file.data].substring(0,4) !== 'data') && control.propSetMap.uploadContDoc"
             class="vlc-thumb"
             ng-src="{{::instanceHost}}/sfc/servlet.shepherd/version/download/{{bpTree.contentVersions[file.data]}}"/>

    </div>

    <ul ng-click='removeFile(this, control, $index)'
         ng-show='isFileRemovable(this, control, $index)'
         class="nds-file-list">
        <li>
            <span class="nds-file-selector__button nds-button nds-button_neutral">{{file.webkitRelativePath || file.filename}}

                &nbsp;(

                <span ng-switch='file.size > 1024*1024'>
                    <span ng-switch-when='true'>{{file.size / 1024 / 1024 | number:2}} MB</span>
                    <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                </span>

                )
            </span>
            <span class="nds-file-icon">
                <slds-button-svg-icon sprite="'utility'" icon="'clear'" size="'large'"
                     ng-click='removeFile(this, control, $index)'
                     ng-show='isFileRemovable(this, control, $index)'
                     class='nds-button__icon'>
                </slds-button-svg-icon>
            </span>
        </li>


    </ul>

</div>