<div ng-if='bpTree.resumeURL'>
    <label class="slds-form-element__label via-slds-auto_save_for_later">{{::customLabels.OmniScriptResumeLink}}
        <a class='vlc-omni-copy' ng-click="copyToClipboard(customLabels.OmniCopyToClipBoard, bpTree.resumeURL)">{{::customLabels.OmniCopyLink}}</a> or
        <a href="mailto:?&subject=&body={{::customLabels.OmniResumeLink}} %0D{{bpTree.resumeURLMailTo}}%0D%0D{{::customLabels.OmniSaveEmailBody}}">{{::customLabels.OmniEmailMe}}</a>
    </label>
</div>
<div ng-if='bpTree.savingAttachments || isLoadingAttachments()'>
     <label class="slds-form-element__label via-slds-auto_save_for_later"><i class="spinner" style="right: 0%; position: relative;"></i>
        <br /> 
       	<span ng-if="bpTree.savingAttachments">{{ ::customLabels.OmniScriptSavingAttachments }}</span>
	    <span ng-if="!bpTree.savingAttachments">{{ ::customLabels.OmniScriptLoadingAttachments }}</span> 
    </label>
</div>