.vlocity {
    &.via-slds {
        .cpq-product-cart-item-cell-detail {
            .cpq-details-table {
                border-bottom: none;
                .cpq-cell-header {
                    color: #0070d2;
                    white-space: normal; //HYB-1624
                }
                .cpq-total-border {
                    border-top: 2px solid #d8dde6;
                }
                .cpq-delete-spinner-position {
                    position: absolute;
                    bottom: 18px; 
                    right: 12px;
                }
                .cpq-delete-button-position {
                    position: absolute;
                    bottom: 3px
                }
                .cpq-detail-show-more {
                    border-top: 2px solid #d8dde6;
                }
            }
        }
    }
}