<div class="cpq-input-custom-template-sample slds-m-bottom_medium" ng-controller="customActionsController">
    <!-- $parent.$parent.records contains the reference to field object passed from VDF -->
    <div class="slds-form-element">
        <label class="slds-form-element__label">
            <abbr class="slds-required" title="required" ng-if="field.required">*</abbr>
            {{field.label}}
        </label>
        <div class="slds-form-element__control slds-input-has-fixed-addon">
            <input class="slds-input" type="text" ng-model="field.userValues"/>
        </div>
    </div>
    <div class="slds-grid slds-m-top_small slds-grid_pull-padded">
        <div class="slds-col_padded">
            <button type="button" class="slds-button slds-button_neutral" ng-click="autoGenerate();">Auto generate</button>
        </div>
        <div class="slds-col_padded">
            <button type="button" class="slds-button slds-button_neutral" ng-click="reset();">Reset</button>
        </div>
    </div>
    <div class="slds-hide slds-m-top_small" ng-class="{'slds-show_inline-block': field.userValues}">
        Your input value is <b>{{field.userValues}}</b>
    </div>
</div>