.via-slds .slds-input-has-icon .slds-input__icon {
    margin-top: 0px;
}
.via-slds.via-omni .slds-input {
 padding-left: 2rem;
 text-shadow: 0 0 #49739c;
 
}
.via-slds.via-omni .vlc-slds-table {
margin-top: 10px;
}