<script type="text/ng-template" id="navButton.html">
   <fieldset>
         <button style="margin-top:2em" create-document >Generate Document</button>
   </fieldset>
</script>
<script type="text/ng-template" id="templates.html">
            <div class='slds-col--padded slds-size--1-of-1'>
              <table class="slds-table slds-table--bordered slds-table--cell-buffer vlc-slds-table">
              <thead>
                <tr class="slds-text-heading--label">
                  <th width="20px"/>
                  <th scope="col">
                    <div class="slds-truncate">Template Name</div>
                  </th>
                 <th scope="col">
                    <div class="slds-truncate">Version Number</div>
                 </th>               
               </tr>
             </thead>
             <tbody>
               <tr ng-repeat='p in control.vlcSI[control.itemsKey]' ng-class="{ 'vlc-selectableitem-selected' : p.vlcSelected }" >
                 <th class="slds-cell-shrink">
                    <label class="slds-checkbox">
                        <input type="checkbox" ng-model='p.vlcSelected' ng-change='onSelectItem(control, p, $index, this)'/>
                        <span class="slds-checkbox--faux"></span>
                        <span class="slds-assistive-text">Select</span>
                    </label>
                </th>
                <td>
                    <div class="slds-truncate">{{p['Name']}}</div>
                </td>
                <td>
                    <div class="slds-truncate">{{p['VersionNumber']}}</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</script>