#GenerateDocument_nextBtn.buttonDisable {
    background-color: #ecebea;
    border-color: #c9c7c5;
    cursor: not-allowed;
    pointer-events: none;
}
#GenerateDocument_nextBtn.buttonDisable p{
    color: #3f2850;
}