.via-slds-card--flyout-grid-items {
    min-width: 320px;
}

.via-slds-card--flyout-grid-items__definition {
    .slds-item--label {
        width: 40%;
        padding-right: 1.75em;
        text-align: right;
    }
    .slds-item--detail {
        width: 60%;
    }
}