<div ng-if="baseCtrl.setMultiDocXIPScope(this)"></div>
<div id="viewer" class="pdfViewer"  style='width: 100px; height: 100%;'></div>

<!-- <div ng-repeat="template in bpTree.response.PickTemplate.DocumentTemplate"> 
<iframe ng-show="src = bpTree.response.urlPrefix + '/apex/' + baseCtrl.$scope.nsPrefix + 'ObjectDocumentCreationDocXTemplate'" Id="{{template.Id}}" ng-src="{{src}}" style="width: 100%; border: none;" height="0" onload="this.height = '500';" vloc-prop-set="{{control.propSetMap}}"></iframe> -->