.via-slds .via-slds-card--horiz-actions {
    .via-slds-card__header {
        background-clip: padding-box;
        background-color: #f4f6f9;
        border-bottom: 2px solid #d8dde6;
        margin-bottom: 0;
    }
    
    .via-slds-x-small-card__body > .via-slds-grid {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds-card__body {
        background: #FFF;
        background-clip: padding-box;
    }

    .via-slds-card__body > .via-slds-border--bottom {
        border-bottom: 1px solid #d8dde6;
    }
}