.items-center{
    left: 19%;
    position: relative;
}
.slds-radio [type=radio]:checked+.slds-radio__label .slds-radio--faux:after{
    width: .5rem;
    height: .5rem;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    border-radius: 50%;
    background: #1589ee;
}

.heading{
   background: #f7f9fb;
}

.close-btn{
    position: relative;
    top: -.5rem;
    color: white;
    right: .5rem;
}