<div class='slds-col--padded slds-size--1-of-1'>
    <ng-form name='loopform'
             class='slds-form-element vlc-flex vlc-form-group vlc-slds-remote-action--button'
             ng-repeat='control in child.eleArray'>

        <div class="slds-form-element__control">

            <div class="vlc-control-wrapper">

                <div class='slds-box'
                     title='{{::control.propSetMap.label}}'
                     ng-click='submit(this, control)'>
                    <p>{{::control.propSetMap.label}}</p>
                </div>

            </div>

        </div>

    </ng-form>

</div>