@import "clm-runtime-product-attributes-variables";
.via-slds{
    .vloc-attr-container_modal{
        .vloc-sorted-column{
            background-color: rgb(255, 255, 255);
            box-shadow: rgb(0, 112, 210) 0 0 0 1px inset, rgb(0, 112, 210) -0.25rem 0 0 inset;
            color: currentColor;
            cursor: pointer;
        }
        .vloc-not-sorted-column{
            &:hover{
                box-shadow: rgb(216, 221, 230) -0.25rem 0 0 inset;
                background-color: rgb(255, 255, 255);
                color: currentColor;
                cursor: pointer;
            }
        }
        .vloc-text-align-center{
            text-align: center;
        }
        .vloc-attr-container_heading {
            text-align: center; 
        }
        .vloc-attr-container_select{
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
        .vloc-product-grid {
           &:first-child{
                  border-top: 1px solid $cards-border-gray;
            }
            .vloc-product{
                position: relative;
                .vloc-attr-show-more{
                    position: absolute;
                    right: 7px;
                    top: 3px;
                    .vloc-attr-show-more_btn{
                        &:active{
                            box-shadow: none;
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
            .vloc-new-prod_label{
                &:hover{
                    cursor: pointer;
                }
            }
            .vloc-new-prod_checkbox{
                position: relative;
                top: -2px;
                left: -.5rem;
            }
        }
    }
}