<div class="vloc-attr-container_modal" ng-init="$root.isLoaded = true; importedScope.orderMap(records.records)">
    <div class="slds-size_1-of-1 slds-m-top_small slds-p-right_medium slds-grid slds-wrap">
      <div id="modal-heading-01" class="slds-size_1-of-2">
        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
          <slds-svg-icon sprite="'utility'" icon="'search'" extra-classes="'slds-icon_small slds-input__icon'"></slds-svg-icon>
          <input autofocus="false" class="slds-size_2-of-3 slds-text-body_regular slds-input" id="vloc-search-title" placeholder="Search" ng-model="searchTitle"/> 
        </div> 
      </div>
      <div class="slds-small-show slds-size_1-of-2 slds-p-right_medium">   
        <div class="slds-float_right">
          <button class="slds-button slds-button_brand" ng-click="importedScope.addContractTerms(records.records, records.type)" ng-if="records.records.totalSize">{{importedScope.modalLabels.CLMAddTermsLabel}}</button>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-wrap slds-p-top_small">
      <div class="slds-grid slds-grid_wrap slds-size_1-of-1 slds-border_top  slds-border_bottom  slds-text-heading_x-small" ng-init="importedScope.orderTerm = 'Name'; importedScope.orderAsc = false">

            <div class="slds-size_1-of-5 slds-p-left_x-large slds-text-title_caps slds-p-top_x-small slds-p-bottom_x-small" ng-class="{'vloc-sorted-column' : importedScope.orderTerm === 'Name', 'vloc-not-sorted-column': importedScope.orderTerm !==  'Name'}" ng-click="importedScope.setOrderTerm('Name')">
                Name
                <slds-button-svg-icon ng-if="importedScope.orderTerm === 'Name' && !importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowup'"></slds-button-svg-icon>
                <slds-button-svg-icon ng-if="importedScope.orderTerm === 'Name'  && importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowdown'"></slds-button-svg-icon>
            </div>
            <div class="slds-size_1-of-5 slds-text-title_caps slds-p-around_x-small" ng-class="{'vloc-sorted-column' : importedScope.orderTerm ===  'ProductCode', 'vloc-not-sorted-column': importedScope.orderTerm !==  'ProductCode'}"  ng-click="importedScope.setOrderTerm('ProductCode')">
                Code
                <slds-button-svg-icon ng-if="importedScope.orderTerm === 'ProductCode' && !importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowup'"></slds-button-svg-icon>
                <slds-button-svg-icon ng-if="importedScope.orderTerm === 'ProductCode'  && importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowdown'"></slds-button-svg-icon>
            </div>
            <div class="slds-size_1-of-5 slds-text-title_caps slds-p-around_x-small" ng-class="{'vloc-sorted-column' : importedScope.orderTerm === 'CreatedBy', 'vloc-not-sorted-column': importedScope.orderTerm !==  'CreatedBy'}"  ng-click="importedScope.setOrderTerm('CreatedBy')">
                Created By
                 <slds-button-svg-icon ng-if="importedScope.orderTerm === 'CreatedBy' && !importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowup'"></slds-button-svg-icon>
                <slds-button-svg-icon ng-if="importedScope.orderTerm === 'CreatedBy'  && importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowdown'"></slds-button-svg-icon>
            </div>
            <div class="slds-size_1-of-5 slds-text-title_caps slds-p-around_x-small" ng-class="{'vloc-sorted-column' : importedScope.orderTerm === 'CreatedDate', 'vloc-not-sorted-column': importedScope.orderTerm !==  'CreatedDate'}" ng-click="importedScope.setOrderTerm('CreatedDate')">
                Created Date
                <slds-button-svg-icon ng-if="importedScope.orderTerm === 'CreatedDate' && !importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowup'"></slds-button-svg-icon>
                <slds-button-svg-icon ng-if="importedScope.orderTerm === 'CreatedDate'  && importedScope.orderAsc"  extra-classes="'slds-button__icon_left'" sprite="'utility'" icon="'arrowdown'"></slds-button-svg-icon>
            </div>  
      </div>
        <div ng-if="!records.records.totalSize" class="slds-text-align_center slds-text-heading_small slds-p-around_medium slds-size_1-of-1">{{importedScope.modalLabels.CLMNoTermsToAdd}}</div>
        <div class="vloc-product-grid slds-size_1-of-1 slds-grid slds-wrap" ng-repeat="prod in importedScope.sortedList | orderBy: importedScope.orderTerm : importedScope.orderAsc track by $index" ng-if="importedScope.searchFilter(prod.productName, searchTitle)">
            <div class="vloc-product slds-grid slds-wrap slds-size_1-of-1 slds-border_bottom slds-p-vertical_small">
                <div class="slds-size_1-of-5 slds-p-left_x-small">
                  <span class="slds-checkbox">
                       <input type="checkbox" name="attrs-{{$index}}" id="attrs-{{$index}}"  ng-model="prod.isSelected"/>
                       <label class="slds-checkbox__label slds-m-around_none" for="attrs-{{$index}}">
                           <span class="slds-checkbox_faux vloc-check"></span>
                       </label>
                   </span>
                  <label class="slds-p-left_x-small">{{prod.productName}}</label>
                </div>
                <div class="slds-size_1-of-5 slds-p-left_x-small">
                  {{prod.productCode}}
                </div>
                   <div class="slds-size_1-of-5 slds-p-left_x-small">
                  {{prod.createdBy}}
                </div>
                      <div class="slds-size_1-of-5 slds-p-left_x-small">
                  {{importedScope.formatDate(prod.createdDate)}}
                </div>
                <div class="vloc-attr-show-more slds-size_1-of-5 slds-text-align_right slds-p-right_medium">
                <button class="vloc-attr-show-more_btn slds-button slds-button_link slds-text-align_right" ng-click="prod.show = !prod.show" ng-if="prod.attributeAssignment.length > 0"> <slds-button-svg-icon sprite="'utility'" icon="'chevronright'" ng-if="!prod.show" extra-classes="vloc-attrs-category-btn"></slds-button-svg-icon>
                <slds-button-svg-icon sprite="'utility'" icon="'chevrondown'" ng-if="prod.show" extra-classes="vloc-attrs-category-btn"></slds-button-svg-icon><span class="slds-m-left_x-small">show</span> <span ng-if="!prod.show">more</span><span ng-if="prod.show">less</span></button>
                </div>
            </div>
              <div class="vloc-prod-attrs slds-size_1-of-1 slds-grid slds-wrap slds-theme_shade slds-p-bottom_small slds-border_bottom" ng-if="prod.show">
               <div class="slds-grid slds-wrap slds-size_1-of-1 slds-border_bottom slds-p-vertical_x-small">
                  <div class="slds-p-horizontal_small">
                  </div>
                <div class="slds-size_1-of-5 slds-m-left_x-small slds-truncate">
                      <span class="slds-text-title_caps" title="Name">Name</span>
                </div>
                <div class="slds-size_1-of-4 slds-truncate">
                      <span class="slds-text-title_caps" title="Label">Category</span>
                </div>
              <div class="slds-size_1-of-4 slds-truncate">
                      <span class="slds-text-title_caps" title="Data Type">Data Type</span>
                </div>
              <div class="slds-size_1-of-4 slds-truncate">
                      <span class="slds-text-title_caps" title="Value Type">Value Type</span>
                </div>
                </div>
              <div class="slds-size_1-of-1 slds-grid slds-wrap slds-p-top_small" ng-repeat="attr in prod.attributeAssignment | orderBy : $root.nsPrefix + 'CategoryName__c'">
                  <div class="slds-p-horizontal_small">
                    {{$index + 1}}
                  </div>
                 <div class="slds-size_1-of-5 slds-truncate slds-p-right_x-small">
                  <span title="Name">{{attr[$root.nsPrefix + 'AttributeDisplayName__c']}}</span>
                    </div>
                  <div class="slds-size_1-of-4 slds-truncate slds-p-right_x-small">
                          <span title="Label">{{attr[$root.nsPrefix + 'CategoryName__c']}}</span>
                    </div>
                   <div class="slds-size_1-of-4 slds-truncate slds-p-right_x-small">
                          <span title="Control">{{attr[$root.nsPrefix + 'ValueDataType__c']}}</span>
                    </div>
                  <div class="slds-size_1-of-4 slds-truncate">
                          <span title="Value Type">{{attr[$root.nsPrefix + 'Value__c']}}</span>
                    </div>
              </div>
          </div>
    </div>
</div>

</div>