.vlocity {
    .slob {
        .col-xs-7, .col-xs-5 {
            padding:0px;
        }
    }
    @media (max-width: 400px) {
        //Single Line of Business
        //Sidebar Loads in iframe, media query is applicable
        .slob {
            padding: 0px;
            .col-xs-7, .col-xs-5 {
                width:100%;
            }
        }
    }
}