<div class='nds-size_1-of-1'>
    <ng-form name='loopform'
             class='nds-form-element nds-m-bottom_large nds-p-around_small nds-input__tooltip'
             ng-repeat='control in child.eleArray'>

        <div class="nds-form-element__control nds-form-element__control-animated-label nds-grid">

            <input id='{{::control.name}}'
                 placement='none'
                 ng-disabled='control.ro'
                 ng-required='control.req'
                 type='text'
                 name='loopname'
                 ng-change='aggregate(this, control.index, control.indexInParent, true, -1)'
                 class='nds-input nds-time-picker'
                 ng-model='control.response'
                 ng-init='init(this, control)'
                 slds-time-picker
                 data-time-format ="{{::control.propSetMap.timeFormat}}"
                 data-max-time="{{::control.propSetMap.maxTime}}"
                 data-min-time="{{::control.propSetMap.minTime}}"
                 time-type="{{::control.propSetMap.timeType}}"
                 model-time-format="{{::control.propSetMap.modelTimeFormat}}"
                 vlc-slds-val-checker="response"
                 vlc-slds-toggle-help-text />

            <label for="{{::control.name}}" class='nds-form-element__label'>
                {{::control.propSetMap.label}}
                <span class='nds-required'
                    ng-if='control.req'>*
                </span>
            </label>

            <div vlc-slds-include="vlcLabelController.html"></div>

        </div>
        <div class="nds-form-element__control-help" ng-if="control.propSetMap.help">{{control.propSetMap.helpText}}</div>
        <div ng-include="::errHTMLId"></div>

    </ng-form>

</div>