<div class="slds-col--padded slds-size--1-of-1">

    <ng-form name='loopform'
             class='slds-form-element vlc-flex vlc-slds-multiSelect-control'
             id="{{::control.name + '|' + $index}}"
             ng-required="control.req"
             ng-repeat='control in child.eleArray'>

        <div class="slds-form-element__control">

            <label for="{{::control.name + '|' + $index}}" class='slds-form-element__label vlc-slds-inline-control__label'>
                
                {{::control.propSetMap.label}}

                <!-- tooltip template -->
                <a vlc-slds-tool-tip="test" nubbin-direction="auto top-left" ng-show="{{control.propSetMap.help}}"> i </a>

                <div vlc-slds-include="vlcLabelController.html" ng-init="size='responsive'"></div>

                <span class='vlc-asterix icon-v-asterix' ng-if='validateRequired(this, control, option) && control.req'>
                </span>

            </label>


            <div ng-init='init(this, control)' ng-include="'vlcHorMulti-selectItem.html'"></div>

            <div class='vlc-slds-error-block'>
                <div class='error' ng-show='loopform.$error && loopform.$error.required && !loopform.$pristine'>
                    <small class='description'>{{::customLabels.OmniRequired}}</small>
                </div>
                
                <div class='error' ng-show='control.srvErr'>
                    <small class='description'>{{control.srvErr}}</small>
                </div>

            </div>
            
        </div>

    </ng-form>

</div>