<div class="cpq-product-cart-item" ng-class="{'cpq-product-group-attached': obj[$root.nsPrefix + 'OrderGroupId__c'].value || obj[$root.nsPrefix + 'QuoteGroupId__c'].value}">
    <div ng-class="{'cpq-transitional-hide': importedScope.isDeleting}" data-cart-item-id="{{::obj.Id.value}}">
        <div class="cpq-item-product" ng-class="{'cpq-item-selected':importedScope.isSelected && !attrs.lineItemModal}">
            <div class="cpq-item-product-header cpq-item-base-product">

                <div ng-repeat="customField in $root.customViews.cpqCustomViews[$root.customViews.currentCustomView].fields" class="cpq-item-base-product-{{customField.data.classSuffix}}">
                    <span ng-if="!$root.vlocity.customLabels[customField.label]">{{obj | getter: customField: 'label' }}</span>
                    <span ng-if="$root.vlocity.customLabels[customField.label]">{{::$root.vlocity.getCustomLabel(customField.label)}}</span>
                </div>
                <div class="cpq-item-base-product-actions" ng-class="{'compacted': !$root.customViews.productListHidden}"></div>

            </div>
            <div class="cpq-item-product-messages">
                <ul ng-if="obj.messages.length > 0">
                    <li ng-repeat="msg in obj.messages" class="slds-p-vertical_xx-small">
                        <span class="cpq-error-msg" ng-class="{'js-error-msg-{{msg.messageId}}':msg.bundleId}" ng-if="msg.severity === 'ERROR'">
                            {{msg.message}}
                            <i ng-init="data.hasError = true"></i>
                        </span>
                        <span class="cpq-warning-msg" ng-if="msg.severity !== 'ERROR'">
                            {{msg.message}}
                        </span>
                    </li>
                </ul>
                <span ng-if="obj.messages.length == 0">
                    <i ng-init="data.hasError = false"></i>
                </span>
                <ul ng-if="obj.fieldValidationMessageList.length > 0" class="slds-p-vertical_xx-small">
                    <li ng-repeat="fieldValidationMessage in obj.fieldValidationMessageList" class="slds-p-vertical_xx-small">
                        <span class="cpq-error-msg js-error-msg">{{fieldValidationMessage}}</span>
                    </li>
                </ul>
            </div>

            <div class="cpq-item-base-product" ng-init="childProdState.show = importedScope.expandMode">

                <div ng-repeat="customField in $root.customViews.cpqCustomViews[$root.customViews.currentCustomView].fields" class="cpq-item-base-product-{{customField.data.classSuffix}}"
                    ng-class="{'cpq-item-currency-value': customField.type === 'currency' || customField.type === 'currency5', 
                'cpq-item-text-value': (customField.type === 'string' || customField.type === 'lookup'), 'cpq-item-percentage-value': customField.type === 'percentage', 'cpq-item-loyalty-value': customField.type === 'loyalty',
                'cpq-item-product-title': customField.name === 'Name'}">

                    <!-- Name -->
                    <div ng-if="customField.name === 'Name'" class="cpq-product-name-block">
                        <button title="{{importedScope.getProductInformation(obj)}}" class="slds-button cpq-item-has-children"
                            aria-controls="tree0-node1" ng-click="childProdState.show = !childProdState.show" ng-hide="!(obj.lineItems.records || obj.childProducts.records || obj.productGroups.records || (attrs.lineItemModal && obj.attributeCategories.records.length > 0))">
                            <slds-button-svg-icon sprite="'utility'" size="'small'" icon="'switch'" extra-classes="'slds-button__icon_left slds-float_left'"
                                ng-class="{'cpq-fix-slds-close-switch' : !childProdState.show}">
                            </slds-button-svg-icon>
                            <span class="slds-assistive-text">Toggle</span>
                            <span class="cpq-product-name cpq-large-name-text-wrap" cpq-translate="Product2.Name">
                                {{obj.PricebookEntry.Product2.Name}}
                            </span>
                        </button>
                        <div class="cpq-item-no-children cpq-large-name-text-wrap" ng-show="!(obj.lineItems.records || obj.childProducts.records || obj.productGroups.records || (attrs.lineItemModal && obj.attributeCategories.records.length > 0))"
                            cpq-translate="Product2.Name" title="{{importedScope.getProductInformation(obj)}}">
                            {{obj.PricebookEntry.Product2.Name}}
                        </div>

                        <!-- Icons -->
                        <span ng-show="obj.SellingPeriod.toLowerCase() === 'past' || obj.SellingPeriod.toLowerCase() === 'future' || obj.SellingPeriod.toLowerCase() === 'endoflife'">
                            <span slds-popover data-container="{{attrs.tooltipContainer ? attrs.tooltipContainer : '.via-slds'}}" tooltip="true" nubbin-direction="bottom"
                                data-title="{{importedScope.generateSellingPeriodMsg(obj.Product2, obj.SellingPeriod.toLowerCase())}}">
                                <slds-button-svg-icon sprite="'standard'" size="'large'" icon="'business_hours'" class="cpq-product-item-selling-period-{{obj['SellingPeriod'].toLowerCase()}}"></slds-button-svg-icon>
                            </span>
                        </span>
                    </div>

                    <!-- Text -->
                    <div ng-if="customField.type === 'string'">
                        <span ng-class="{'cpq-cancel-item': importedScope.isSupplementalActionCancel(obj)}">
                            {{obj[customField.fieldName]['value']}}
                        </span>
                    </div>
                    <div ng-if="customField.type === 'lookup'">
                        <span ng-class="{'cpq-cancel-item': importedScope.isSupplementalActionCancel(obj)}">
                            {{obj[customField.fieldName]['Name']}}
                        </span>
                    </div>
                    <!-- Loyalty-->
                    <div ng-if="customField.type === 'loyalty'">
                        <div ng-if="importedScope.getTabView() === 'Cart' || attrs.lineItemModal" cpq-dropdown-handler="showPopover = false">
                            <div class="cpq-loyalty-points">
                                <div>
                                    <strike> {{obj[customField.fieldName]['originalValue']}} {{obj[customField.fieldName]['originalValue']?obj.LoyaltyCode:''}}</strike>
                                </div>
                                <span ng-click="showPopover = !showPopover" ng-class="{'hovered': showPopover, 'cpq-underline': (obj[customField.fieldName]['actions']['switchpaymentmode']), 'cpq-item-discount-price' : (obj[customField.fieldName]['originalValue'] || obj[customField.fieldName]['originalValue'] === 0)}">
                                    <span ng-class="{'cpq-cancel-item': importedScope.isSupplementalActionCancel(obj)}">
                                        {{obj[customField.fieldName]['value']}}
                                        <!-- Loyalty Code-->
                                        {{obj.LoyaltyCode}}
                                    </span>
                                </span>
                            </div>
                            <div class="slds-popover slds-nubbin_bottom-left cpq-price-actions-popover" role="dialog" ng-show="showPopover && (obj[customField.fieldName]['actions']['switchpaymentmode'])">
                                <div class="slds-popover__body cpq-price-actions-popover__body">
                                    <div class="slds-button-group" role="group">
                                        <button class="slds-button slds-button_icon-border" aria-haspopup="true" title="{{::importedScope.customLabels.CPQPaymentChoice}}"
                                            ng-if="obj[customField.fieldName]['actions']['switchpaymentmode']" ng-disabled="obj.orderActive"
                                            ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'switchpayment', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'moneybag'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQPaymentChoice}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Input -->
                    <div class="slds-form-element" ng-if="customField.type === 'input'">
                        <div class="slds-form-element__control" ng-class="{'slds-has-error': importedScope[customField.data.validation].indexOf(obj.Id.value) > -1 }">
                            <input type="{{ customField.data.customInputType ? customField.data.customInputType: 'text' }}" min="{{customField.data.minimum}}"
                                step="any" class="slds-input cpq-item-input" ng-model="obj[customField.fieldName].value" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
                                ng-change="importedScope.updateLineField(null, obj)"
                                ng-disabled="importedScope.isChangesNotAllowed(obj) || importedScope.isSupplementalActionCancel(obj) || importedScope.isAsset(obj,customField.fieldName) || importedScope.isGroupAttached(obj, customField.fieldName) "
                                ng-required="{{customField.data.required}}" ng-keydown="importedScope.checkQuantityField(customField.fieldName, $event.key)"
                            />
                        </div>
                    </div>

                    <!-- Price -->
                    <div ng-if="customField.type === 'currency' || customField.type === 'currency5'">
                        <div ng-if="importedScope.getTabView() === 'Cart' || attrs.lineItemModal" cpq-dropdown-handler="showPopover = false">
                            <div ng-if="customField.type === 'currency5'">
                                <strike> {{obj[customField.fieldName]['originalValue'] | currency5}}</strike>
                            </div>
                            <div ng-if="customField.type === 'currency'">
                                <strike> {{obj[customField.fieldName]['originalValue'] | currency}}</strike>
                            </div>
                            <span ng-click="showPopover = !showPopover" ng-class="{'hovered': showPopover, 'cpq-underline': (obj[customField.fieldName]['actions']['applyadjustment'] || obj[customField.fieldName]['actions']['pricedetail'] || obj[customField.fieldName]['actions']['switchpaymentmode'])}">
                                <span ng-if="customField.type === 'currency5'" ng-class="{'cpq-item-discount-price': obj[customField.fieldName]['originalValue'] || obj[customField.fieldName]['originalValue'] === 0}">
                                    <span ng-class="{'cpq-cancel-item': importedScope.isSupplementalActionCancel(obj)}">
                                        {{obj[customField.fieldName]['value'] | currency5}}
                                    </span>
                                </span>
                                <span ng-if="customField.type === 'currency'" ng-class="{'cpq-item-discount-price': obj[customField.fieldName]['originalValue'] || obj[customField.fieldName]['originalValue'] === 0}">
                                    <span ng-class="{'cpq-cancel-item': importedScope.isSupplementalActionCancel(obj)}">
                                        {{obj[customField.fieldName]['value'] | currency}}
                                    </span>
                                </span>
                            </span>
                            <div class="slds-popover slds-nubbin_bottom-left cpq-price-actions-popover" role="dialog" ng-show="showPopover && (obj[customField.fieldName]['actions']['applyadjustment'] || obj[customField.fieldName]['actions']['pricedetail'] || obj[customField.fieldName]['actions']['switchpaymentmode'])">
                                <div class="slds-popover__body cpq-price-actions-popover__body">
                                    <div class="slds-button-group" role="group">
                                        <button class="slds-button slds-button_icon-border" title="{{::importedScope.customLabels.CPQChangePrice}}" ng-if="obj[customField.fieldName]['actions']['applyadjustment']"
                                            ng-disabled="obj.orderActive" ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'applyadjustment', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'edit'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQChangePrice}}</span>
                                        </button>
                                        <button class="slds-button slds-button_icon-border" aria-haspopup="true" title="{{::importedScope.customLabels.CPQPriceDetails}}"
                                            ng-if="obj[customField.fieldName]['actions']['pricedetail']" ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'pricedetail', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'info'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQPriceDetails}}</span>
                                        </button>
                                        <button class="slds-button slds-button_icon-border" aria-haspopup="true" title="{{::importedScope.customLabels.CPQPaymentChoice}}"
                                            ng-if="obj[customField.fieldName]['actions']['switchpaymentmode']" ng-disabled="obj.orderActive"
                                            ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'switchpayment', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'moneybag'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQPaymentChoice}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Promotions -->
                    <div ng-if="customField.type === 'promo'">
                        <div ng-repeat="promoItem in obj[customField.fieldName].records" ng-attr-title="{{promoItem.Name | CPQTranslateFilter: 'Promotion.Name'}}"
                            class="cpq-promo-text-wrap" ng-class="{'cpq-promo-name-strike': importedScope.isPromoActionDisconnect(promoItem) || importedScope.isSupplementalActionCancel(obj)}">
                            <span>{{promoItem.Name | CPQTranslateFilter: 'Promotion.Name'}}</span>{{$last ? '' : ', '}}
                        </div>
                    </div>
                    <!-- Percantage -->
                    <div ng-if="customField.type === 'percentage'">
                        <span ng-class="{'cpq-cancel-item': importedScope.isSupplementalActionCancel(obj)}">
                            {{obj| getter: customField | picker: customField.type}}
                        </span>
                    </div>
                </div>
                <div class="cpq-item-base-product-actions slds-text-align_right" ng-class="{'compacted': !$root.customViews.productListHidden}">
                    <div ng-show="!importedScope.isProductItemActionsHide(obj)" ng-if="$root.customViews.productListHidden && !attrs.lineItemModal"
                        ng-class="{'slds-button-group slds-float_right': importedScope.isMobileTablet}" role="group">
                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'cpq-error-msg' : data.hasError, 'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.CPQDetails}}"
                            ng-if="importedScope.isActionDisconnect(obj)"
                            ng-click="importedScope.openDetailView(obj)"
                            ng-disabled="(obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers) || importedScope.processing">
                            <slds-button-svg-icon sprite="'utility'" icon="'preview'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQDetails}}</span>
                        </button>

                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.CPQClone}}"
                            ng-if="importedScope.isActionDisconnect(obj)"
                            ng-click="importedScope.clone(null, obj)"
                            ng-disabled="(obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers) || !obj.actions.cloneitem">
                            <slds-button-svg-icon sprite="'utility'" icon="'copy'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQClone}}</span>
                        </button>

                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.CPQSettings}}"
                            ng-if="importedScope.isActionDisconnect(obj)" 
                            ng-click="importedScope.config(null,obj)"
                            ng-disabled="(obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers)">
                            <slds-button-svg-icon sprite="'utility'" icon="'settings'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQSettings}}</span>
                        </button>

                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.CPQDeleteItem}}"
                            ng-if="importedScope.isActionDisconnect(obj)" 
                            ng-click="importedScope.delete(null, obj)"
                            ng-disabled="(obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers) || !obj.actions.deleteitem">
                            <slds-button-svg-icon sprite="'utility'" icon="'delete'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQDelete}}</span>
                        </button>

                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.CPQDeleteItem}}" 
                            ng-click="importedScope.cancel(null, obj)"
                            ng-show="obj.actions.cancelcartitem"
                            ng-disabled="!obj.actions.cancelcartitem">
                            <slds-button-svg-icon sprite="'utility'" icon="'close'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.Cancel}}</span>
                        </button>
                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.CPQCompare}}"
                            ng-click="importedScope.compare(obj)"
                            ng-disabled="!obj.actions.compareoffers">
                            <slds-button-svg-icon sprite="'utility'" icon="'inbox'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQCompare}}</span>
                        </button>
                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.MSAttachGroup}}"
                            ng-click="importedScope.attachGroup(obj)"
                            ng-disabled="!obj.actions.attachgroup">
                            <slds-button-svg-icon sprite="'action'" icon="'add_relationship'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.MSAttachGroup}}</span>
                        </button>
                        <button class="slds-button slds-p-horizontal_xx-small" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}"
                            title="{{::importedScope.customLabels.MSDetachGroup}}"
                            ng-click="importedScope.detachGroup(obj)"
                            ng-disabled="!obj.actions.detachgroup">
                            <slds-button-svg-icon sprite="'action'" icon="'remove_relationship'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.MSDetachGroup}}</span>
                        </button>
                    </div>
                    <div class="cpq-actions-dropdown-menu-dropdown slds-dropdown-trigger_click cpq-item-actions-dropdown-trigger" ng-if="!$root.customViews.productListHidden && !attrs.lineItemModal"
                        ng-show="!importedScope.isProductItemActionsHide(obj)" ng-class="{'slds-is-open': lineActions.show}"
                        ng-click="lineActions.show = !lineActions.show">
                        <button cpq-dropdown-handler="lineActions.show = false" aria-haspopup="true" class="slds-button slds-button_icon-border-filled cpq-item-actions-dropdown-button"
                            title="{{::importedScope.customLabels.CPQShowActions}}">
                            <slds-button-svg-icon sprite="'utility'" icon="'down'" extra-classes="'slds-icon-text-default'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQShowActions}}</span>
                        </button>
                        <div class="slds-dropdown slds-dropdown_right cpq-item-actions-dropdown">
                            <ul class="slds-dropdown__list cpq-item-actions-dropdown__list" role="menu">
                                <li ng-hide="obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers" class="slds-dropdown__item cpq-item-actions-dropdown__item"
                                    role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0" ng-class="{'cpq-error-msg' : data.hasError}"
                                        ng-if="importedScope.isActionDisconnect(obj)"
                                        ng-click="importedScope.openDetailView(obj); $event.preventDefault();"
                                        ng-hide="importedScope.processing">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'utility'" icon="'preview'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.CPQInspect}}
                                        </span>
                                    </a>
                                </li>
                                <li ng-hide="(obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers) || obj.SellingPeriod.toLowerCase() === 'endoflife' || obj.SellingPeriod.toLowerCase() === 'past'"
                                    class="slds-dropdown__item cpq-item-actions-dropdown__item" role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0" ng-click="importedScope.clone(null, obj); $event.preventDefault();"
                                        ng-show="importedScope.isActionDisconnect(obj) && obj.actions.cloneitem">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'utility'" icon="'copy'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.CPQClone}}
                                        </span>
                                    </a>
                                </li>
                                <li ng-hide="(obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers) || obj.SellingPeriod.toLowerCase() === 'endoflife'"
                                    class="slds-dropdown__item cpq-item-actions-dropdown__item" role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0"
                                        ng-if="importedScope.isActionDisconnect(obj)"
                                        ng-click="importedScope.config(null,obj); $event.preventDefault();">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'utility'" icon="'settings'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.CPQConfigure}}
                                        </span>
                                    </a>
                                </li>
                                <li ng-hide="(obj[$root.nsPrefix + 'Action__c'].value === 'Disconnect' && obj.actions.compareoffers)" class="slds-dropdown__item cpq-item-actions-dropdown__item"
                                    role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0"
                                        ng-click="importedScope.delete(null, obj); $event.preventDefault();"
                                        ng-show="importedScope.isActionDisconnect(obj) && obj.actions.deleteitem">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'utility'" icon="'delete'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.CPQDelete}}
                                        </span>
                                    </a>
                                </li>
                                <li ng-hide="!obj.actions.cancelcartitem" class="slds-dropdown__item cpq-item-actions-dropdown__item"
                                    role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0" ng-click="importedScope.cancel(null, obj); $event.preventDefault();"
                                        ng-show="obj.actions.cancelcartitem">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'utility'" icon="'close'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.Cancel}}
                                        </span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item cpq-item-actions-dropdown__item" role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0" ng-click="importedScope.compare(obj); $event.preventDefault();"
                                        ng-show="obj.actions.compareoffers">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'utility'" icon="'inbox'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.CPQCompare}}
                                        </span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item cpq-item-actions-dropdown__item" role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0" ng-click="importedScope.attachGroup(obj); $event.preventDefault();"
                                        ng-show="obj.actions.attachgroup">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'action'" icon="'add_relationship'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.MSAttachGroup}}
                                        </span>
                                    </a>
                                </li>
                                <li class="slds-dropdown__item cpq-item-actions-dropdown__item" role="presentation">
                                    <a href="#" role="menuitemcheckbox" aria-checked="true" tabindex="0" ng-click="importedScope.detachGroup(obj); $event.preventDefault();"
                                        ng-show="obj.actions.detachgroup">
                                        <span class="slds-truncate cpq-action-item-label">
                                            <slds-svg-icon sprite="'action'" icon="'remove_relationship'" size="'x-small'"></slds-svg-icon>
                                            {{::importedScope.customLabels.MSDetachGroup}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cpq-item-base-product-details">
                <div class="cpq-item-base-product-cfg-attr" ng-if="obj.attributeCategories.records.length >0" ng-show="childProdState.show && attrs.lineItemModal">
                    <div class="slds-section" ng-class="{'slds-is-open': productLineItemToggle}">
                        <div class="slds-section__title">
                            <a href="javascript:void(0);" ng-click="productLineItemToggle = !productLineItemToggle" class="slds-section__title-action 
                            -section-heading" ng-init="productLineItemToggle = importedScope.expandMode">
                                <button class="slds-button slds-button_icon-container slds-button_icon-x-small">
                                    <slds-button-svg-icon sprite="'utility'" icon="'switch'" ng-class="{'cpq-fix-slds-close-switch' : !productLineItemToggle}"></slds-button-svg-icon>
                                </button>
                                {{::importedScope.customLabels.CPQProductConfig}}
                            </a>
                        </div>
                        <div class="slds-section__content slds-p-left_large slds-m-bottom_small cpq-product-item-details-form" ng-show="productLineItemToggle">
                            <div ng-if="!importedScope.reRenderAttributesForm">
                                <vlocity-dynamic-form class="cpq-item-attributes-form slds-form_stacked" tooltip-container=".slds-modal" form-on-change="importedScope.saveUpdates(e, formValidation, obj)"
                                    name="productconfig{{attrs.lineItemModal?'modal':''}}{{obj.Id.value}}" ng-model="obj.attributeCategories.records"
                                    map-object="{{importedScope.mapObject()}}"
                                    is-read-only-form="{{importedScope.isReadOnly(obj)}}" 
                                    form-auto-save="{{attrs.lineItemModal}}">
                                </vlocity-dynamic-form>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="(obj.childProducts.records || obj.lineItems.records || obj.productGroups.records)" ng-show="childProdState.show">
                    <vloc-layout layout-name="cpq-cart-item-product-children" ng-model="card" data="card" records="obj" show-product-list="{{attrs.showProductList}}"
                        show-config-panel="{{attrs.showConfigPanel}}" line-item-modal="{{attrs.lineItemModal}}" action-status="{{importedScope.isReadOnly(obj)}}"></vloc-layout>
                </div>
            </div>
            <div ng-if="obj.actions.nextitems">
                <a class="cpq-product-cart-item-load-more" ng-click="importedScope.loadMoreChildren(obj)">
                    {{::importedScope.customLabels.CPQLoadMore}}
                </a>
            </div>
        </div>
    </div>
</div>