.via-console-right-sidebar {
    //setting bg as LEX wont have a white bg anymore
    background: #fff;

    .via-offer-header {
        border-bottom: 1px solid #d8dde6;
        border-top: 1px solid #d8dde6;
    }

    .via-console-sidebar-card:not(:empty) {
        border-bottom: 1px solid #d8dde6;
    }
    .via-console-sidebar-card:last-child {
        border-bottom: 0;
    }
}