<link rel="stylesheet" href="https://vdo-cmt-site.secure.force.com/resource/VLOCMOBCON/css/swiper.min.css">
<script src="https://vdo-cmt-site.secure.force.com/resource/VLOCMOBCON/js/swiper.min.js"></script>
<script>
	    var mySwiper = '';
	    var allowScroll = false;

		function hideHome(){
		    $('.swiper-container').addClass('swiper-container-active');
	        $('.con-home-page, .nav-left-button').addClass('con-opacity-hidden');
	        $('.con-home-back, .con-app-title, .swiper-pagination').removeClass('con-opacity-hidden');
	        $('.con-home-device-images').addClass('con-home-device-images-small');
	        $('.con-device-image').removeClass('con-device-image-small');
		}
		
		function showHome(){
		    $('.swiper-container').removeClass('swiper-container-active');
	        $('.con-home-page, .nav-left-button').removeClass('con-opacity-hidden');
	        $('.con-home-back, .con-app-title, .swiper-pagination').addClass('con-opacity-hidden');
	        $('.con-home-device-images').removeClass('con-home-device-images-small');
	        $('.con-device-image').addClass('con-device-image-small');
	        setTimeout(function(){
	            if(mySwiper != ''){
	                mySwiper.slideTo(0, 0);
	            }
	        },500);
		}
		
	    $(document).ready(function(){
	        
	        //Hide home page and show device page
    	    $('.con-home-grabber, .con-home-device-images').on('swipeup click',function(event){
    	        hideHome();
    		});
    		
            //Show home page and hide device page
    		$('.con-home-back, .con-device-image').on('swipedown click',function(event){
    	        showHome();
    		});
    		
    		//Stop scroll 1 *Currently a bug if you swipe from left then down*
    		//Need to try using an alternative scroll div instead of scroll-content
    		$('.scroll-content').on('touchmove', function(e){
    		    if(!allowScroll)
    	            e.preventDefault();
    	    });
    	    
    	    //Remove fade in from home page after initial load to improve performance
    	    setTimeout(function(){
    	        $('.con-home-page .con-opacity-fade-in').removeClass('con-opacity-fade-in');
    	    },10000);
    		
	    });
	    
</script>

<div ng-controller="homePageController as hp" class="con-home-hide-scroll">
    <div class="con-home-page">
        
        <div class="con-home-nav" ng-click="vm.toggleSideMenu()">
            <i class="icon ion-navicon"></i>
        </div>
        
        <div class="con-home-title">
            <img src="{{$root.customDefinedValue.CommunityURL + '/resource/VLOCMOBCON/images/vlocityLogo.png' | trusted}}"/>
        </div>
        
        <!-- Vlocity Intelligence Banner -->
        <div class="con-home-widget-banner con-opacity-fade-in">
            <div vloc-card ng-repeat="card in data.zones.widgets1.cards | orderBy:data.dataSource.order" ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}" use-existing-element-type></div>
        </div>
        
        <!-- Full Width Arrow Cards -->
        <div vloc-card ng-repeat="card in data.zones.widgets2.cards | orderBy:data.dataSource.order" ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}" use-existing-element-type class="con-opacity-fade-in"></div>
        
        <!-- Grabber At Bottom Of Home Screen -->
        <div class="con-home-grabber"><span class="con-down-arrow"></span> Your Devices ({{data.zones.swiper.cards.length}})</div>
        
        <!-- Images At Bottom Of Home Screen -->
        <div class="con-home-device-images">
            <div vloc-card ng-repeat="card in data.zones.images.cards | orderBy:data.dataSource.order" ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}" use-existing-element-type></div>
        </div>
        
    </div>
    
    <div class="con-home-shop" ng-click="hp.viewDetail('MobConShop')">
        
    </div>
    
    <div class="swiper-container">
        <div class="con-home-back con-opacity-hidden">
            Back
        </div>
        <div class="con-app-title con-opacity-hidden">
            Devices
        </div>
    	<div class="swiper-pagination"></div>
    	<div class="swiper-wrapper">
            <div vloc-card ng-repeat="card in data.zones.swiper.cards | orderBy:data.dataSource.order" ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}" class="swiper-slide" use-existing-element-type></div>
        </div>
    </div>
</div>