<div class="via-slds" ng-init="searchTerm = {value:''}">
    <form class="slds-grid slds-m-around--small slds-wrap slds-grid--pull-padded" ng-if="!(session.disableSearchBar == 'true')">
        <div class="slds-col slds-col--padded slds-size--1-of-2 slds-medium-size--1-of-2 slds-large-size--4-of-12 slds-form-element">
          <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--left">
            <slds-svg-icon sprite="'utility'" icon="'search'" extra-classes="'slds-input__icon'"></slds-svg-icon>
            <input ng-model="searchTerm.value" class="slds-input" type="text" placeholder="{{::$root.vlocity.getCustomLabel('SearchCards', 'Search Cards')}}" />
          </div>
        </div>
        <div class="slds-col slds-col--bump-left slds-button slds-col--padded">
            <button class="slds-button slds-button--neutral slds-float--right" onclick="window.location.reload()">
                <slds-button-svg-icon sprite="'utility'" icon="'refresh'" no-hint="true" extra-classes="'slds-button__icon--left'"></slds-button-svg-icon>
              {{::$root.vlocity.getCustomLabel('Refresh', 'Refresh')}}</button>
        </div>
    </form>
    <!-- After adding zones in template designer we can reference them inside the template like
        - To get cards of a specific zone 
            data.zones['<Name of Zone>'].cards
    -->
    <!-- Header Zone -->
    <div class="slds-grid slds-wrap slds-m-around--small slds-grid--pull-padded cards-container">
        <!-- Name of zone here is "Header" -->
        <div ng-repeat="card in data.zones['Header'].cards |orderBy:order|filter: searchFunc(card, searchTerm.value)" vloc-card ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}"
            class="slds-p-around--small slds-size--1-of-1 slds-medium-size--3-of-6 slds-large-size--4-of-12" use-existing-element-type></div>
        
        <div ng-repeat="layout in data.zones['Header'].layouts |orderBy:order" vloc-layout layout-name="{{layout.name}}" ctrl="{{layout.ctrl}}" records="layout.records" parent="layout.parent" class="slds-p-around--small slds-size--1-of-1"></div>
        <span id="flyout" class="slds-p-around--small slds-size--1-of-1"></span>
    </div>
    
    <!-- Body Zone -->
    <div class="slds-grid slds-wrap slds-m-around--small slds-grid--pull-padded cards-container">
        <!-- Name of zone here is "Body" -->
        <div ng-repeat="card in data.zones['Body'].cards |orderBy:order|filter: searchFunc(card, searchTerm.value)" vloc-card ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}"
            class="slds-p-around--small slds-size--1-of-1 slds-medium-size--3-of-6 slds-large-size--4-of-12" use-existing-element-type></div>
            
        <div ng-repeat="layout in data.zones['Body'].layouts |orderBy:order" vloc-layout layout-name="{{layout.name}}" ctrl="{{layout.ctrl}}" records="layout.records" parent="layout.parent" class="slds-p-around--small slds-size--1-of-1"></div>
        <span id="flyout" class="slds-p-around--small slds-size--1-of-1"></span>
    </div>
    
    <!-- Footer Zone -->
    <div class="slds-grid slds-wrap slds-m-around--small slds-grid--pull-padded cards-container">
        <!-- Name of zone here is "Footer" -->
        <div ng-repeat="card in data.zones['Footer'].cards |orderBy:order|filter: searchFunc(card, searchTerm.value)" vloc-card ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}"
            class="slds-p-around--small slds-size--1-of-1 slds-medium-size--3-of-6 slds-large-size--4-of-12" use-existing-element-type></div>
            
        <div ng-repeat="layout in data.zones['Footer'].layouts |orderBy:order" vloc-layout layout-name="{{layout.name}}" ctrl="{{layout.ctrl}}" records="layout.records" parent="layout.parent" class="slds-p-around--small slds-size--1-of-1"></div>
        <span id="flyout" class="slds-p-around--small slds-size--1-of-1"></span>
    </div>
</div>