@import "variables";
@import "community-variables";

.vlocity {
    .community {
        /* Payment card details */
        .payment-card {
            .upsell {
                background-color: #05252E;
                padding:10px 10px 5px;
                color:$white;
                line-height: 25px;
                vertical-align: top;
                i{
                    &.icon {
                        font-size:25px;
                    }
                }
                .upsell-title {
                    line-height:25px;
                    vertical-align:top;
                }
            }
            .content {
                background-color: #05A6DF;
                text-align:center;
                padding:10px;
                color:$white;
                .date {
                    font-weight:bold;
                }
                .amount {
                    font-size:32px;
                    margin:15px 0px;
                }
                button {
                    margin-top:5px;
                    padding:5px 20px;
                }
            }
        }
    }
}