.via-slds{
    
    .top-bar{
        background: #f7f9fb;
    }
    
    
    .slds-icon{
        &.filter{
           fill: #4F6A92;
           background: white;
           border: 1px solid #d8dde6;
           height: 2.4em;
           padding: 0.3em;
        }
    }
    
     .slds-icon{
        &.nav{
           fill: #4F6A92;
        }
    }
    
    .close-btn{
        position: relative;
        top: -.5rem;
        color: white;
    }
    
    .table-cell{
        padding-top: .2rem !important;
        padding-bottom: .2rem !important;
    }
}