<div class="account">
    <h2>{{::$root.vlocity.getCustomLabel('AccountOverview', 'Account Overview')}}</h2>
     <vloc-card ng-repeat="card in cards |orderBy:order|filter: searchFunc(card)" ctrl="{{ctrl}}" ng-model="card" data="card" records="records" index="{{$index}}" session-id="{{sessionId}}"></vloc-card>
    <!--<vloc-cmp name="Community Account Card" customtemplate="community-content-account" loaded="true"> </vloc-cmp>-->
    <!--<vloc-cmp name="Community Account Card" customtemplate="community-content-account" loaded="true"> </vloc-cmp>-->
    <!--<vloc-cmp name="Community Account Card" customtemplate="community-content-account" loaded="true"> </vloc-cmp>-->
</div>