.vlocity .flyout{
    .flyout-content {
        .items {
            min-height:200px;
            min-width:200px;
            .item-title {
                font-weight:bold;
            }
            .item-card {
                float:left;
                width:280px;
                max-width:400px;
                padding:10px;
                width: calc(100% / 3 - 20px);
                .item-name {
                    padding:10px 0px;
                }
                ul{
                    li {
                        span {
                            font-size:12px;
                            color:#9999a7;
                        }
                        label{
                            padding-right:20px;
                            width:120px;
                            text-transform:uppercase;
                            font-weight:bold;
                        }
                    }
                    
                }
                .actions {
                    text-transform:uppercase;
                    padding-top:10px;
                    a {
                        font-size:12px;
                    }
                    .separator {
                        color:#d4d4d4;
                        padding:0px 5px;
                    }
                }
            }
        }
    }
}