<div class="comp-assets-product-item-child">
    <div ng-repeat="childProd in importedScope.viewModelRecords | orderBy: 'sequenceNumber'">
        <!-- Line Item -->
        <div class="slds-is-relative" ng-if="importedScope.isLineItemInProductGroups(childProd)">
            <div class="assets-item-base-product" ng-class="{'assets-item-selected':importedScope.isSelected && importedScope.isSelectedItemObjId.value === childProd.Id.value}" ng-init="childProdState.show = importedScope.expandMode">
                <div ng-repeat="customField in $root.customViews.cpqCustomViews[$root.customViews.currentCustomView].fields" class="assets-item-base-product-{{customField.data.classSuffix}}" ng-class="{'assets-item-currency-value': customField.type === 'currency', 'assets-item-text-value': customField.type === 'string', 'assets-item-loyalty-value': customField.type === 'loyalty',
                'assets-item-product-title': customField.name === 'Name'}">
                    <!-- Name -->
                    <div ng-if="customField.name === 'Name'" class="assets-item-child-product-name-wrapper assets-text-name-wrap" ng-class="{'assets-item-product-group':(!importedScope.determineIfChildProdOpenOrCloseIconShouldBeHidden(childProd) && childProd.isVirtualItem)}">
                        <button title="{{importedScope.getProductInformation(childProd)}}" ng-click="childProdState.show = importedScope.determineChildProdOpenOrCloseAfterClick(childProd, childProdState.show); importedScope.fullScreen(attrs.ariaLevel, childProdState.show)" class="slds-button assets-item-has-children" aria-controls="tree0-node1" ng-hide="importedScope.determineIfChildProdOpenOrCloseIconShouldBeHidden(childProd)" ng-init="childProdState.show = importedScope.determineChildProdOpenOrCloseInitially(childProd)" ng-disabled="childProd.processingLine || attrs.processingLine === 'true'">
                            <slds-button-svg-icon sprite="'utility'" size="'small'" icon="'switch'" extra-classes="'slds-button__icon_left slds-float_left'" ng-class="{'assets-fix-slds-close-switch' : !childProdState.show}"></slds-button-svg-icon>
                            <span class="slds-assistive-text">Toggle</span>
                            <span class="assets-product-name assets-large-name-text-wrap" cpq-translate="Product2.Name" title="{{importedScope.getProductInformation(childProd)}}">
                                {{(childProd.PricebookEntry.Product2.Name || childProd.Product2.Name || childProd[customField.fieldName])}}
                            </span>
                        </button>
                        <span class="assets-item-no-children assets-large-name-text-wrap" cpq-translate="Product2.Name" ng-show="!importedScope.checkIfChildProdHasChildren(childProd)" title="{{importedScope.getProductInformation(childProd)}}">
                            {{(childProd.PricebookEntry.Product2.Name || childProd.Product2.Name || childProd[customField.fieldName])}}
                        </span>
                        <!-- Icons -->
                        <span ng-show="childProd.SellingPeriod.toLowerCase() === 'past' || childProd.SellingPeriod.toLowerCase() === 'future' || childProd.SellingPeriod.toLowerCase() === 'endoflife'">
                            <span slds-popover data-container="{{attrs.tooltipContainer ? attrs.tooltipContainer : '.via-slds'}}"
                                tooltip="true" nubbin-direction="bottom" data-title="{{importedScope.generateSellingPeriodMsg(childProd.Product2, childProd.SellingPeriod.toLowerCase())}}">
                                <slds-button-svg-icon sprite="'standard'" size="'large'" icon="'business_hours'" class="assets-product-item-selling-period-{{childProd['SellingPeriod'].toLowerCase()}}"></slds-button-svg-icon>
                            </span>
                        </span>
                    </div>
                    <div ng-if="(childProd.itemType !== 'productGroup')">
                        <!-- Text -->
                        <div ng-if="customField.type === 'string'">{{childProd[customField.fieldName]['value']}}</div>
                        
                        <!-- Loyalty-->
                        <div ng-if="customField.type === 'loyalty'">
                            <div ng-class="assets-loyalty-points">
                                <div><strike> {{childProd[customField.fieldName]['originalValue']}} {{childProd[customField.fieldName]['originalValue']?childProd.LoyaltyCode:''}}</strike></div>
                                <span ng-class="{'assets-underline' : childProd[customField.fieldName]['actions']['pricedetail']}" >
                                    {{childProd[customField.fieldName]['value']}}
                                    <!-- Loyalty Code-->
                                    {{childProd.LoyaltyCode}}
                                </span>
                            </div>
                        </div>

                        <!-- Price -->
                        <div ng-if="customField.type === 'currency'">
                            <div cpq-dropdown-handler="showPopover = false">
                                <div><strike> {{childProd[customField.fieldName]['originalValue'] | currency}}</strike></div>
                                <span ng-class="{'hovered': showPopover, 'assets-underline' : childProd[customField.fieldName]['actions']['pricedetail']}" ng-click="showPopover = !showPopover">
                                    <span ng-class="{'assets-item-discount-price': childProd[customField.fieldName]['originalValue'] || childProd[customField.fieldName]['originalValue'] === 0}">
                                        {{childProd[customField.fieldName]['value'] | currency}}
                                    </span>
                                </span>

                                <div class="slds-popover slds-nubbin_bottom-left assets-price-actions-popover" role="dialog" ng-show="showPopover && childProd[customField.fieldName]['actions']['pricedetail']">
                                    <div class="slds-popover__body assets-price-actions-popover__body">
                                        <div class="slds-button-group" role="group">
                                            <button class="slds-button slds-button_icon-border" aria-haspopup="true" title="{{::importedScope.customLabels.CPQPriceDetails}}" ng-click="importedScope.openAdjustmentModal(childProd[customField.fieldName], 'pricedetail')">
                                                <slds-button-svg-icon sprite="'utility'" icon="'info'"></slds-button-svg-icon>
                                                <span class="slds-assistive-text">{{::importedScope.customLabels.CPQPriceDetails}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </div> 

                        <!-- Promotions -->
                        <div ng-if="customField.type === 'promo'">
                            <div ng-repeat="promoItem in childProd[customField.fieldName].records" ng-attr-title="{{promoItem.Name | CPQTranslateFilter: 'Promotion.Name'}}" class="assets-promo-text-wrap">
                                <span cpq-translate="Promotion.Name">{{promoItem.Name}}</span>{{$last ? '' : ', '}}
                            </div> 
                        </div> 
                    </div>    
                </div>
                <div class="assets-item-base-product-actions slds-text-align_right" ng-class="{'compacted': !$root.customViews.productListHidden}" ng-if="!childProd.isVirtualItem">
                    <div ng-class="{'slds-button-group slds-float_right': importedScope.isMobileTablet}" role="group">
                        <button class="slds-button slds-p-horizontal_xx-small" ng-click="importedScope.config(obj, childProd)"  title="{{::importedScope.customLabels.CPQSettings}}" ng-class="{'slds-button_icon-border': importedScope.isMobileTablet}">
                            <slds-button-svg-icon sprite="'utility'" icon="'info'"></slds-button-svg-icon>
                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQSettings}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="assets-item-base-product-details">
                <div ng-if="childProd.childAssets.records || obj.lineItems.records || obj.productGroups.records" ng-show="childProdState.show">
                    <vloc-layout layout-name="comp-assets-product-children" ng-model="card" data="card" records="childProd" nested="true"
                        aria-level="{{(attrs.ariaLevel - 0) + 0}}" show-config-panel="{{attrs.showConfigPanel}}">
                    </vloc-layout>
                </div>
            </div>
        </div>
    </div>
</div>