<div class="slds-col--padded slds-size--1-of-1">

    <ng-form name='loopform'
                class='slds-form-element vlc-flex slds-clearfix vlc-slds-block'
                id ='{{::control.name}}'
                ng-repeat='control in child.eleArray' >

        <div class="slds-form-element__control">

            <!-- add block label -->
            <label vlc-slds-toggle="toggle"
                    class="slds-form-element__label slds-clearfix" ng-if="::control.propSetMap.label">

                <slds-svg-icon aria-hidden="true"
                                sprite="'utility'"
                                icon="'chevrondown'"
                                size="'small'"
                                extra-classes="'vlc-slds-collapse slds-button__icon slds-button__icon--large'">
                </slds-svg-icon>

                <slds-svg-icon aria-hidden="true"
                                sprite="'utility'"
                                icon="'chevronup'"
                                size="'small'"
                                extra-classes="'vlc-slds-expand slds-button__icon slds-button__icon--large'">
                </slds-svg-icon>


                <div class="slds-form-element__label--toggleText">
                    {{::control.propSetMap.label}}
                    <span ng-if='!( $first && $last )'>{{control.index+1}}</span>
                </div>
                
                <div class="vlc-slds-control-action__container" vlc-bubble-canceller="true">

                    <span ng-if='::control.propSetMap.repeat'
                            ng-click='baseCtrl.addItem(this, child, $index)'
                            ng-disabled='control.propSetMap.repeatLimit !== undefined && control.propSetMap.repeatLimit !== null && child.eleArray.length >= control.propSetMap.repeatLimit+1'>
                        {{::customLabels.OmniAdd}}
                    </span>

                    <span ng-if='child.eleArray.length > 1'
                            ng-click='removeDomElement(this, child, $index)'
                            vlc-slds-remove-item="ng-form.vlc-slds-block">
                        {{::customLabels.OmniDelete}}
                    </span>

                </div>

            </label>

            
            <!-- block withing the main grid  ng-hide hides hthe block by default-->
            <div class='slds-size--1-of-1 ng-hide'
                    vlc-slds-toggle-elem='visible'>

                <div class="vlc-slds-control-action__container" vlc-bubble-canceller="true" ng-if="::!control.propSetMap.label">

                    <span ng-if='::control.propSetMap.repeat'
                            ng-click='baseCtrl.addItem(this, child, $index)'
                            ng-disabled='control.propSetMap.repeatLimit !== undefined && control.propSetMap.repeatLimit !== null && child.eleArray.length >= control.propSetMap.repeatLimit+1'
                            aria-hidden="true">
                        {{::customLabels.OmniAdd}}
                    </span>

                    <span ng-if='child.eleArray.length > 1'
                            ng-click='removeDomElement(this, child, $index)'
                            vlc-slds-remove-item="ng-form.vlc-slds-block"
                            aria-hidden="true">
                        {{::customLabels.OmniDelete}}
                    </span>

                </div>

                <div  class="slds-grid slds-wrap slds-grid--pull-padded">
                    <child vlc-slds-change-inline-templates="::child.eleArray[0].propSetMap.showInputWidth"
                            class="slds-size--1-of-1 slds-medium-size--{{child.eleArray[0].propSetMap.controlWidth}}-of-12"
                            ng-repeat='child in ::children = control.children'
                            ng-init="child.blockIndex = control.index"
                            ng-show='::!child.eleArray[0].propSetMap.hide'
                            ng-if='(child.eleArray[0].propSetMap.hide && child.eleArray[0].type!=="Formula")||(!child.eleArray[0].propSetMap.show || evaluateShow(child.eleArray[0], this))'>
                    </child>
                </div>
            </div>

        </div>

    </ng-form>

</div>