@import "variables";
@import "community-variables";

.vlocity {
    .community-flyout-content {
        padding:10px;
        overflow:auto;
        .items {
            overflow:auto;
            padding-left:10px;
            min-height:200px;
            min-width:200px;
        }
        .flyout-actions {
            .panel {
                min-width: 300px;
            }
        }
    }
     @media only screen and (max-width : 725px) {
        .community-flyout-content {
            .flyout-actions {
                padding-bottom:20px;
            }
            .items {
                padding:10px 0px 0px;
            }
        }
    }
    
    @media only screen and (min-width : 725px) {
        .community-flyout-content {
            display:table;
            .flyout-actions {
                display:table-cell;
                max-width:260px;
                vertical-align:top;
                border-right: 2px solid #efefef;
            }
            .items {
                display:table-cell;
                width: 100%;
                vertical-align:top;
            }
        }
    }
}