.via-slds .via-slds-card__open {
    overflow:hidden;
    .via-slds-card__body {
        min-height: 374px;
        
        .via-slds-main-action {
            .icon:before {
                font-size: 400%;
            }
            img, span, svg {
                display: block;
            }
        }
    }
    .via-slds-main-action-wrapper {
        position: absolute;
        top: 20%;
        left: 20%;
        bottom: 20%;
        right: 20%;
        border-radius: 4px;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
    }
}