<div class='slds-col--padded'>
    <div class="slds-box">
        <div class='slds-form-element__label'>
            <b>{{::customLabels.OmniCallResult}}</b>
        </div>
        <p>
            <p ng-if="response.CallSuccess">{{::customLabels.OmniApplicationAcknowledge}} {{response.applicationRefNumber}}.</p>
            <p ng-if="!response.CallSuccess">{{response.responseText}}</p>
            <p ng-if="!response.CallSuccess">{{response.message}}</p>
            <p ng-if="!response.CallSuccess">{{response.error}}</p>
        </p>

    </div>
</div>