@import "variables";
@import "community-variables";

.vlocity {
    .community {
        .header {
            background-color: #05252E;
            height: 60px;
            .navbar-header {
                float: left;
            }
        }
    }
}