.usage1 .con-usage-dot{
    background: #2847fb;
}
.usage2 .con-usage-dot{
    background: #798dff;
}
.usage3 .con-usage-dot{
    background: #b2bdff;
}
.usage4 .con-usage-dot{
    background: #f57923;
}
.usage5 .con-usage-dot{
    background: #f5a623;
}
.usage6 .con-usage-dot{
    background: #ffcf7f;
}
.usage7 .con-usage-dot{
    background: #00ceff;
}
.usage8 .con-usage-dot{
    background: #4adcff;
}
.usage9 .con-usage-dot{
    background: #50e3c2;
}
.usage10 .con-usage-dot{
    background: #50e3c2;
}
.circle1{
    stroke: #2847fb;
}
.circle2{
    stroke: #798dff;
}
.circle3{
    stroke: #b2bdff;
}
.circle4{
    stroke: #f57923;
}
.circle5{
    stroke: #f5a623;
}
.circle6{
    stroke: #ffcf7f;
}
.circle7{
    stroke: #00ceff;
}
.circle8{
    stroke: #4adcff;
}
.circle9{
    stroke: #50e3c2;
}
.circle10{
    stroke: #50e3c2;
}

.selected-segment {
   font-weight: bold; 
}