<div class="slds-grid slds-grid_vertical cpq-product-cart" ng-init="initialView = 1">

    <div class="slds-spinner_container" ng-show="!isLoaded">
        <div class="slds-spinner_brand slds-spinner slds-spinner_medium" aria-hidden="false" role="alert">
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
        </div>
    </div>

    <!-- Tabs and its Contents container using class slds-tabs_default -->
    <div class="slds-col slds-no-flex slds-tabs_default cpq-product-cart-global-tabs" ng-init="tabSelected = 'Cart';importedScope.initTab()">

        <!-- List of tabs: using class slds-tabs_default__nav -->
        <ul class="slds-tabs_default__nav cpq-product-cart-tabs" role="tablist">
            <li class="slds-tabs_default__item slds-text-heading_label" title="Cart" role="presentation" ng-class="{'slds-active' : importedScope.getTabView() ==='Cart'}" ng-click="previousTabSelected = importedScope.getTabView(); tabSelected = importedScope.changeTab('Cart'); importedScope.changeCustomView(initialView, cards);importedScope.reloadCart(previousTabSelected);">
                <a class="slds-tabs_default__link" href="#" role="tab" tabindex="0" aria-selected="tabSelected === importedScope.changeTab('Cart')" aria-controls="tab-default-1" id="tab-default-1__item" ng-click="$event.preventDefault();">{{::importedScope.customLabels.CPQCart}}</a>
            </li>
            <li class="slds-tabs_default__item slds-text-heading_label" title="Promotions" role="presentation" ng-class="{'slds-active' : importedScope.getTabView() === 'Promotions'}" ng-click="previousTabSelected = importedScope.getTabView(); tabSelected = importedScope.changeTab('Promotions')" ng-show="importedScope.featureSettings.enablePromotions">
                <a class="slds-tabs_default__link" href="#" role="tab" tabindex="-1" aria-selected="tabSelected === importedScope.changeTab('Promotions')" aria-controls="tab-default-2" id="tab-default-2__item" ng-click="$event.preventDefault();">{{::importedScope.customLabels.CPQPromotions}}</a>
            </li>
            <li class="slds-tabs_default__item slds-text-heading_label" title="Discounts " role="presentation" ng-class="{'slds-active' : importedScope.getTabView() === 'Discounts'}" ng-click="previousTabSelected = importedScope.getTabView(); tabSelected = importedScope.changeTab('Discounts')" ng-show="importedScope.featureSettings.enableDiscounts">
                <a class="slds-tabs_default__link" href="#" role="tab" tabindex="-1" aria-selected="tabSelected === 'Discounts'" aria-controls="tab-default-3" id="tab-default-3__item" ng-click="$event.preventDefault();">{{::importedScope.customLabels.CPQDiscounts}} ({{importedScope.getTotalNumberOfDiscounts()}})</a>
            </li>
        </ul>
    </div>

    <!-- js-cpq-cart-scroll-container unique class is used to scroll the container to an item -->
    <div class="slds-col cpq-product-cart-items js-cpq-cart-scroll-container scroll" ng-show="importedScope.getTabView() === 'Cart'">

        <!--SHOW CART ERRORS-->
        <div class="cpq-errors-container-sticky" ng-show="importedScope.cartDataStore.filteredMessages.length > 0">
            <div class="cpq-cart-errors slds-section__title cpq-border-radius"
            ng-class="{'slds-theme_error': importedScope.hasSeverity == 'ERROR', 'slds-theme_warning': importedScope.hasSeverity == 'WARN', 'slds-theme_alert': importedScope.hasSeverity == 'INFO' }"
            ng-show="importedScope.cartDataStore.filteredMessages.length > 1">
                <a href="#" ng-click="showMessages = !showMessages; $event.preventDefault();" class="slds-section__title-action cpq-product-cart-item-section-heading">
                    <button type="button" class="slds-button cpq-errors-button slds-button_icon-container slds-button_icon-x-small">
                        <slds-button-svg-icon sprite="'utility'" icon="'switch'" ng-class="{'cpq-close-switch' : !showMessages}"></slds-button-svg-icon>
                    </button>
                    {{::importedScope.customLabels.CPQCartMessages}} ({{importedScope.cartDataStore.filteredMessages.length}})
                </a>
            </div>
            <!-- there is a possibility When we dont have records but error message will be there for Discount Approval (HYB-3647)-->
            <div class="slds-notify cpq-cart-errors" role="alert" ng-repeat="msg in importedScope.cartDataStore.filteredMessages"
                ng-show="(importedScope.cartDataStore.filteredMessages[0].code != '101' && importedScope.cartDataStore.filteredMessages.length == 1) || showMessages "
                ng-init="msg.messageId = msg.messageId || msg.actions.DETAILS.client.params.id; importedScope.getCartSeverity();"
                ng-class="{'slds-theme_error': msg.severity == 'ERROR', 'slds-theme_warning': msg.severity == 'WARN', 'slds-theme_alert': msg.severity == 'INFO', 'cpq-border-radius': importedScope.cartDataStore.filteredMessages.length == 1 }">
                <div class="slds-notify__content slds-grid">
                    <div class="slds-col slds-align-middle" >
                        <h2 class="slds-text-heading_small">{{msg.message}}</h2>
                    </div>
                    <button class="slds-button cpq-errors-button slds-p-horizontal_xx-small" ng-click="importedScope.openDetailView(msg)" ng-if="msg.actions['DETAILS']">
                        <slds-button-svg-icon sprite="'utility'" icon="'preview'"></slds-button-svg-icon>
                        <span class="slds-assistive-text">{{::importedScope.customLabels.CPQDetails}}</span>
                    </button>
                </div>
            </div>
        </div>
        <!--END CART ERRORS-->

        <div ng-class="{'cpq-cart-container-padding':importedScope.cartDataStore.filteredMessages.length > 0 && records.length > 0}">
            <!-- CustomViews dropdown for Tab 1 Cart content: using class slds-tabs_default__content -->
            <div id="tab-default-1" class="slds-tabs_default__content cpq-product-cart-items-tab-content slds-p-bottom_none" ng-class="{'slds-show': tabSelected === 'Cart'}" role="tabpanel" aria-labelledby="tab-default-1__item" ng-if="$root.customViews.cpqCustomViews.length > 1">
                <div class="slds-picklist slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open slds-m-around_medium custom-view-dropdown slds-m-bottom_none">
                    <button cpq-dropdown-handler="importedScope.viewOpen = false" id="cpq-custom-view-button" class="slds-button custom-view-dropdown-button slds-button_neutral slds-picklist__label slds-p-right_small" aria-haspopup="true" ng-click="importedScope.viewOpen = !importedScope.viewOpen">
                        <slds-button-svg-icon sprite="'utility'" icon="'down'" extra-classes="'slds-m-top_x-small slds-float_right custom-view-dropdown-button'"></slds-button-svg-icon>
                        <span class="slds-truncate" title="Select an Option">
                            {{importedScope.customLabels[$root.customViews.cpqCustomViews[$root.customViews.currentCustomView].viewName]}}
                        </span>
                    </button>
                    <div class="slds-dropdown slds-dropdown_left" ng-if="importedScope.viewOpen">
                        <ul class="slds-dropdown__list slds-dropdown_length-5" role="menu">
                            <li class="slds-dropdown__item" role="presentation" ng-repeat="customView in $root.customViews.cpqCustomViews" ng-click="importedScope.changeCustomView($index)">
                                <a ng-show="$root.customViews.currentCustomView !== $index" href="#" ng-click="$event.preventDefault()" role="menuitemcheckbox" tabindex="0">
                                    <span class="slds-truncate">
                                        {{importedScope.customLabels[customView.viewName]}}
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Tab 1 Cart content: using class slds-tabs_default__content -->
            <div id="tab-default-1" class="slds-tabs_default__content cpq-product-cart-items-tab-content slds-m-top_small" ng-if="importedScope.getTabView() === 'Cart'" role="tabpanel" aria-labelledby="tab-default-1__item">
                <vloc-card ng-repeat="card in cards" ctrl="CPQCartItemController" 
                    ng-model="card" data="card" records="records" index="{{$index}}" 
                    on-loaded="$first ? importedScope.getCardsCallback(initialView) : null"
                    show-product-list="{{attrs.showProductList}}" 
                    show-config-panel="{{attrs.showConfigPanel}}"  
                    ng-if="isLoaded" is-last="{{$last}}">
                </vloc-card>
                <div ng-if="payload.messages[0].severity === 'ERROR' && !records.length > 0" class="slds-text-align_center slds-p-vertical_small" ng-repeat="msg in payload.messages">
                    <span>{{msg.message}}</span>
                </div>
                <div ng-if="payload.messages[0].severity !== 'ERROR'" class="slds-grid slds-grid_vertical-align-center slds-grid_align-center cpq-no-cart-items-msg" ng-show="(!records || records.length === 0 ) && isLoaded">
                    {{::importedScope.customLabels.CPQCartIsEmpty}}
                </div>
                 <div class="cpq-next-product slds-col slds-text-align_center slds-m-vertical_medium" ng-if="session.nextProducts">
                    <div class="slds-spinner_container cpq-spinner-container" ng-show="loadingMore">
                        <div class="slds-spinner_brand slds-spinner slds-spinner_small" aria-hidden="false" role="alert">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                    <a ng-click="importedScope.nextPage()" ng-hide="loadingMore">
                      {{::importedScope.customLabels.CPQLoadMore}}
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!-- Tab 2 Promotion content: using class slds-tabs_default__content -->
    <!-- js-cpq-cart-scroll-container unique class is used to scroll the container to an item -->
    <div class="slds-col cpq-product-cart-items js-cpq-cart-scroll-container scroll" ng-if="importedScope.getTabView() === 'Promotions'">
        <div id="tab-default-2" class="slds-tabs_default__content cpq-product-cart-items-tab-content" role="tabpanel" aria-labelledby="tab-default-2__item">

            <div class="cpq-cart-promotions-tab-container">
                <vloc-layout layout-name="cpq-cart-promotions" is-loaded="isPromotionTabLoaded"></vloc-layout>

                <div class="slds-text-align_center slds-m-vertical_medium" ng-if="!isPromotionTabLoaded">
                    <div class="slds-spinner_container">
                        <div class="slds-spinner_brand slds-spinner slds-spinner_medium" aria-hidden="false" role="alert">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Tab 3 Discounts content: using class slds-tabs_default__content -->
    <!-- js-cpq-cart-scroll-container unique class is used to scroll the container to an item -->
    <div class="slds-col cpq-product-cart-items js-cpq-cart-scroll-container scroll" ng-if="importedScope.getTabView() === 'Discounts'">
        <div id="tab-default-3" class="slds-tabs_default__content cpq-product-cart-items-tab-content" role="tabpanel" aria-labelledby="tab-default-3__item">
            <div class="cpq-cart-promotions-tab-container">
                <vloc-layout layout-name="cpq-cart-discounts" is-loaded="isDiscountsTabLoaded"></vloc-layout>

                <div class="slds-text-align_center slds-m-vertical_medium" ng-if="!isDiscountsTabLoaded">
                    <div class="slds-spinner_container">
                        <div class="slds-spinner_brand slds-spinner slds-spinner_medium" aria-hidden="false" role="alert">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>