<div class="nds-size_1-of-1">
    <ng-form name='loopform'
             class='nds-form-element nds-clearfix nds-block nds-p-around_small'
             id ='{{::control.name}}'
             ng-repeat='control in child.eleArray' >

        <div class="nds-form-element__control nds-block_container">
            <!-- add block label -->
            <label vlc-slds-toggle="toggle"
                   class="nds-form-element__label nds-clearfix" 
                   ng-if="::control.propSetMap.label">

                <slds-svg-icon aria-hidden="true"
                               sprite="'utility'"
                               icon="'chevrondown'"
                               size="'small'"
                               extra-classes="'nds-collapse nds-button__icon nds-button__icon_large'">
                </slds-svg-icon>

                <slds-svg-icon aria-hidden="true"
                               sprite="'utility'"
                               icon="'chevronup'"
                               size="'small'"
                               extra-classes="'nds-expand nds-button__icon nds-button__icon_large'">
                </slds-svg-icon>

                <div class="nds-form-element__label_toggleText">
                    {{::control.propSetMap.label}}
                    <span ng-if='!( $first && $last )'>{{control.index+1}}</span>
                </div>
                
                <div class="nds-control-action__container" vlc-bubble-canceller="testing">
                    <span ng-if='::control.propSetMap.repeat'
                          ng-disabled="control.propSetMap.repeatLimit !== undefined && control.propSetMap.repeatLimit !== null && child.eleArray.length >= control.propSetMap.repeatLimit+1"
                          ng-click="baseCtrl.addItem(this, child, $index)"
                          aria-hidden="true">
                        {{::customLabels.OmniAdd}}
                    </span>

                    <span ng-if='child.eleArray.length > 1'
                          ng-click='removeDomElement(this, child, $index)'
                          vlc-slds-remove-item="ng-form.nds-block"
                          aria-hidden="true">
                        {{::customLabels.OmniDelete}}
                    </span>
                </div>
            </label>
            
            <!-- block withing the main grid  ng-hide hides hthe block by default-->
            <div class='nds-size_1-of-1 toggleElement'
                 vlc-slds-toggle-cust-elem='visible'>

                <div  class="nds-control-action__container" vlc-bubble-canceller="test" ng-if="::!control.propSetMap.label">

                    <span ng-if="::control.propSetMap.repeat"
                          ng-disabled="control.propSetMap.repeatLimit !== undefined && control.propSetMap.repeatLimit !== null && child.eleArray.length >= control.propSetMap.repeatLimit+1"
                          ng-click="baseCtrl.addItem(this, child, $index)"
                          aria-hidden="true">
                        {{::customLabels.OmniAdd}}
                    </span>

                    <span ng-if="child.eleArray.length > 1"
                          ng-click='removeDomElement(this, child, $index)'
                          vlc-slds-remove-item="ng-form.nds-block"
                          aria-hidden="true">
                        {{::customLabels.OmniDelete}}
                    </span>

                </div>

                <div  class="nds-grid nds-wrap nds-grid_pull-padded">
                    <child vlc-slds-change-inline-templates="::child.eleArray[0].propSetMap.showInputWidth"
                           class="nds-size_1-of-1 nds-medium-size_{{child.eleArray[0].propSetMap.controlWidth}}-of-12"
                           ng-repeat='child in ::children = control.children'
                           ng-init="child.blockIndex = control.index"
                           ng-show='::!child.eleArray[0].propSetMap.hide'
                           ng-if='(child.eleArray[0].propSetMap.hide && child.eleArray[0].type!=="Formula")||(!child.eleArray[0].propSetMap.show || evaluateShow(child.eleArray[0], this))'>
                    </child>
                </div>
            </div>

        </div>
    </ng-form>
</div>