.via-slds .via-slds-offer-card {
    overflow:hidden;
    .via-slds-card__body {
        min-height: 374px;
        
        .via-slds-main-action {
            height: 100%;
            width: 100%;
        }
    }
    .via-slds-main-action-wrapper {
        position: absolute;
        top: 20%;
        left: 20%;
        bottom: 20%;
        right: 20%;
        border-radius: 4px;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
        background-size: cover;
        background-position: center;
    }
}