<div class='nds-size_1-of-1'>

    <ng-form name='loopform'
             class='nds-form-element nds-m-bottom_large nds-p-around_small nds-input__tooltip'
             ng-repeat='control in child.eleArray'>
        
        <div class="nds-form-element__control nds-form-element__control-animated-label nds-grid">

            <input id='{{::control.name}}'
                type='tel'
                ng-disabled='control.ro'
                ng-required='control.req'
                name='loopname'
                ng-model='control.response'
                ng-blur='aggregate(this, control.index, control.indexInParent, true, -1)'
                ng-model-options="{ updateOn: 'default focusout blur', debounce: { 'default': control.propSetMap.debounceValue, 'focusout': 0, 'blur': 0 } }"
                class='nds-input form-control'
                via-mask='::control.propSetMap.mask'
                vlc-slds-ng-pattern='{{::control.propSetMap.pattern}}'
                vlc-slds-num-val-checker="response"
                vlc-slds-only-numeric="response"
                vlc-slds-attr="placeholder"
                vlc-slds-toggle-help-text />

            <label for="{{::control.name}}" class='nds-form-element__label'>
                {{::control.propSetMap.label}}
                <span class='nds-required'
                    ng-if='control.req'>*
                </span>
            </label>

            <div vlc-slds-include="vlcLabelController.html"></div>

        </div>
        <div class="nds-form-element__control-help" ng-if="control.propSetMap.help">{{control.propSetMap.helpText}}</div>
        <div ng-include="::errHTMLId"></div>

    </ng-form>

</div>