/*** CPQ THEME VARIABLES ***/
@import "cpq-theme-variables";

/*** MIXINS ***/
@import "cpq-mixin";

/*** STYLES ***/
.vlocity {
    &.via-slds {
        .cpq-total-bar {
            background-color: $cpq-cart-total-bar-bg-color;
            color: $cpq-cart-container-bg-color;
            height: 80px;
            position: absolute;
            bottom: 0;
            right: 8px;
            left: 8px;
        }
        // 64rem
        @media screen and (max-width: $bp-large) {
            .cpq-total-bar {
                left: 0;
                right: 0;
            }
        }
    }
}