<div class="cpq-base-grid" ng-class="{'cpq-base-grid-isMobileIpad' : importedScope.isMobileTablet}">
    <div class="slds-spinner_container" ng-show="!isLoaded">
        <div class="slds-spinner_brand slds-spinner slds-spinner_medium" aria-hidden="false" role="alert">
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
        </div>
    </div>
    <div class="slds-grid slds-grid_frame slds-grid_vertical">
        <vloc-layout layout-name="cpq-header" ctrl="CPQHeaderController" 
            enable-pricing="{{importedScope.featureSettings.enablePricing}}"  
            enable-loyalty-points="{{importedScope.customSettings.EnableLoyaltyPoints}}">
        </vloc-layout>
        <div class="slds-col slds-grid slds-wrap slds-small-nowrap cpq-container" ng-class="{'cpq-outer-col-visible': !importedScope.showProductList || importedScope.isConfigAttrsPanelEnabled}">
            <div class="slds-backdrop cpq-tablet-overlay" ng-if="importedScope.isMobileTablet" ng-click="importedScope.toggleOutsideCols()" ng-class="{'slds-backdrop_open': !importedScope.showProductList || importedScope.isConfigAttrsPanelEnabled}"></div>
            <div class="slds-is-relative slds-col slds-grid slds-size_1-of-1 slds-small-size_1-of-3 slds-medium-size_2-of-6 slds-large-size_4-of-12 cpq-left-sidebar-wrapper" ng-class="{'cpq-left-sidebar-visible': !importedScope.showProductList && !importedScope.isConfigAttrsPanelEnabled}">
                <div class="cpq-left-sidebar-container">
                    <button ng-if="importedScope.isMobileTablet" class="slds-button slds-button_icon-border cpq-show-hide-button" ng-click="importedScope.toggleOutsideCols()">
                        <slds-button-svg-icon sprite="'utility'" size="'medium'" icon="'right'" extra-classes="'cpq-show-hide-button-icon'"></slds-button-svg-icon>
                    </button>
                    <vloc-layout layout-name="cpq-left-sidebar" ctrl="CPQItemsController"></vloc-layout>
                </div>
            </div>
            <div class="slds-is-relative slds-col slds-grid slds-size_1-of-1 cpq-cart-container-wrapper" ng-class="{'slds-small-size_2-of-3 slds-medium-size_4-of-6 slds-large-size_8-of-12': importedScope.isConfigAttrsPanelEnabled || (!importedScope.showProductList && !importedScope.isConfigAttrsPanelEnabled), 'slds-small-size_3-of-3 slds-medium-size_6-of-6 slds-large-size_12-of-12': importedScope.showProductList && !importedScope.isConfigAttrsPanelEnabled}">

                <!-- Hide/Show Product List -->
                <button ng-if="!importedScope.isMobileTablet" class="slds-button slds-button_icon-border cpq-show-hide-button" ng-class="{'cursor-point-west': !importedScope.showProductList, 'cursor-point-east': importedScope.showProductList}" ng-click="importedScope.toggleOutsideCols()">⋮
                </button>
                <div class="cpq-cart-container">
                    <vloc-layout layout-name="cpq-product-cart" ctrl="CPQCartController" show-product-list="{{importedScope.showProductList}}" show-config-panel="{{importedScope.isConfigAttrsPanelEnabled}}"></vloc-layout>
                </div>
                <div>
                    <vloc-layout layout-name="cpq-total-bar" ctrl="CPQTotalController"></vloc-layout>
                </div>
            </div>
            <div class="slds-is-relative slds-col slds-grid slds-size_1-of-1 slds-small-size_1-of-3 slds-medium-size_2-of-6 slds-large-size_4-of-12 cpq-product-container-wrapper" ng-class="{'cpq-product-container-visible': importedScope.isConfigAttrsPanelEnabled}">
                <div class="cpq-product-container">
                    <vloc-layout layout-name="cpq-product-cart-config" ctrl="CPQCartItemConfigController"></vloc-layout>
                </div>
            </div>
        </div>
    </div>
</div>