.btn-off-platform{
   top:81px !important;
   left:225px !important;
}
.btn-on-platform{
   top:0px !important;
   left:0px !important;
}
.canvas-on-platform{
    left:20px;
    top:2px;
}
.heightOfThorFrame{
    height:700px;
    overflow:scroll;
}
.btn-container-canvas{
    position: absolute;
    z-index: 1000;
    top: 3.5%;
}
div[planDir="left"] { 
    left:2.5%;
}
div[planDir="right"] { 
    right:.1%;
}