body.sfdcBody {
    overflow: visible !important;
}

.via-slds-story-cards--header {
    border-bottom: 1px solid #d8dde6;
    border-top: 1px solid #d8dde6;
}

.via-slds-story-cards--header-title {
    position: relative;
}