/*** ASSETS THEME VARIABLES ***/
@import "comp-assets-theme-variables";

/*** MIXINS ***/
@import "cpq-mixin";

/* $assets-namespace is defined in cpq-base-variables */
$namespace: $assets-namespace;

/*** STYLES ***/
.vlocity {
    &.via-slds {
        .comp-#{$namespace}-info-panel {
            background-color: $cpq-product-container-bg-color;
            position: absolute;
            top: $cpq-cart-container-tabs-height + $cpq-cart-container-tabs-top-margin;
            right: $cpq-padding-large-horizontal/2;
            bottom: 0;
            left: $cpq-padding-large-horizontal/2;

            .#{$namespace}-info-header {
                padding: $cpq-padding-large-vertical $cpq-padding-large-horizontal;
            }

            .#{$namespace}-info-container {
                margin-bottom: 60px;
                overflow-y: scroll;
                margin-top: -$cpq-padding-large-vertical;
                padding: 0px $cpq-padding-large-horizontal $cpq-padding-large-vertical*2;
                
                .#{$namespace}-error-msg {
                    color: $error;
                    font-size: $cpq-product-cart-config-error-font-size;
                    margin-top: $cpq-product-cart-config-error-margin-top;
                }
            }
        }
    }
}