.via-slds .via-slds-action-grid-card {
    flex-wrap: wrap;
    .via-icon {
        font-size: 2.5em;
        color: #4F6A92;
    }
    .via-slds-button {
        border-radius: 1px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        p {
            font-size: 10px;
            line-height: 13px;
            color: #4F6A92;
            overflow-wrap: normal;
        }
    }
    .via-slds-button:hover {
        text-decoration: none;
    }
    .via-action-icon:before {
        font-size: 200%;
    }
}