<div class="nds-dropdown-trigger nds-dropdown-trigger_click"  ng-class="{'nds-is-open': isOpen}" ng-click="$event.stopPropagation(); $event.preventDefault()">
    <button class="nds-button nds-button_icon-border-filled nds-editblock_action-button nds-element_text-font" aria-haspopup="true" title="Show More" ng-click="toggleDropdown()">
        <slds-button-svg-icon sprite="'utility'" icon="'chevrondown'" size="'small'" ng-click="toggleDropdown()"></slds-button-svg-icon>
    </button>
    {{ebCtrl = (($parent.$parent.child.eleArray[0]));""}}
    <div class="nds-dropdown nds-dropdown_right">
        <ul class="nds-dropdown__list" role="menu">
            <li id='{{::((ebCtrl.propSetMap.editAction)?(ebCtrl.propSetMap.editAction.name):("foo"))}}'
                class="nds-dropdown__item" role="presentation" ng-click="$parent.$parent.openEditModal($parent.$parent.control, null, $parent.$parent, 'edit', $parent.$parent.$index, $event); toggleDropdown();" ng-if='ebCtrl.propSetMap.allowEdit'>
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="nds-truncate">{{::((ebCtrl.propSetMap.editAction) ? (ebCtrl.propSetMap.editAction.propSetMap.label) : (ebCtrl.propSetMap.editLabel))}}</span>
               </a>
            </li>
            <li id='{{::action.name}}'
                class="nds-dropdown__item" role="presentation" ng-repeat="action in $parent.$parent.control.propSetMap.actions" ng-click='$parent.$parent.buttonClick($parent.$parent.bpTree.response, action, $parent.$parent, null, "vlcEBOperation"); toggleDropdown();'>
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="nds-truncate">{{action.propSetMap.label}}</span>
                </a>
            </li>
            <li class="nds-has-divider_top-space" role="separator"></li>
            <li id='{{::((ebCtrl.propSetMap.delAction)?(ebCtrl.propSetMap.delAction.name):("foo"))}}'
                class="nds-dropdown__item" role="presentation" ng-click="$parent.$parent.removeItemEditBlock($parent.$parent.child, $parent.$parent.$index, $parent.$parent); toggleDropdown();" ng-if='ebCtrl.propSetMap.allowDelete'>
                <a href="javascript:void(0);" role="menuitem" tabindex="-1">
                    <span class="nds-truncate">{{::((ebCtrl.propSetMap.delAction) ? (ebCtrl.propSetMap.delAction.propSetMap.label) : (ebCtrl.propSetMap.deleteLabel))}}</span>
               </a>
            </li>
        </ul>
    </div>
</div>