.via-slds .via-slds-card_active {
    
    .via-slds-card__body {
        overflow: hidden;
        min-height: 310px;
      
    }
    
    .via-slds-card__header {
        background-clip: padding-box;
        background-color: #f4f6f9;
        border-bottom: 2px solid #d8dde6;
        margin-bottom: 0;
        cursor: pointer;
    }
    
    .via-slds-card__footer {
        border-top: 1px solid #d8dde6;
        margin-top: 0;
        text-align: left;
    }
    
    .via-slds-flyout-grid > :not(:empty) {
        width: 100%;
    }
    
    .via-action-icon:before {
        font-size: 200%;
    }

    .via-action-link:hover,
    .via-action-link:focus,
    .via-action-link:active {
        color: #0070d2;
        text-decoration: underline;
    }
    
    .via-placeholder-image{
        height: 32px;
        width: 32px;
    }
    svg.via-action-icon {
        margin: 0 8px;
    }
    
    .via-field {
        position: relative;
        
        .track-view {
            position: absolute;
            top: -0.3rem;
            right: -0.25rem;
            cursor: pointer;
            opacity: 0;
            transition: opacity 200ms ease-in;
            
            svg {
                fill: #A7B8D1;
                transition: fill 100ms ease-in;
            }
            
            &:hover {
                svg {
                    fill: #54698d;
                }
            }
            
            &:active {
                svg {
                    fill: #4BC076;
                }
            }
        }
        
        &:hover {
            .track-view {
                opacity: 1;
            }
        }
    }
}