.via-slds {
    // .slds-media__figure {
    //     z-index: 1;
    // }
    // .slds-media--timeline:before {
    //     z-index: 0;
    // }
    .slds-timeline__media--custom-custom1:before {
        background: rgb(255, 123, 132);
    }
    .slds-timeline__media--custom-custom2:before {
        background: rgb(207, 208, 92);
    }
    .slds-timeline__media--custom-custom3:before {
        background: rgb(236, 180, 108);
    }
    .slds-timeline__media--custom-custom4:before {
        background: rgb(225, 217, 81);
    }
    .slds-timeline__media--custom-custom5:before {
        background: rgb(159, 219, 102);
    }
    .slds-timeline__media--custom-custom6:before {
        background: rgb(84, 196, 115);
    }
    .slds-timeline__media--custom-custom7:before {
        background: rgb(106, 137, 229);
    }
    .slds-timeline__media--custom-custom8:before {
        background: rgb(80, 206, 185);
    }
    .slds-timeline__media--custom-custom9:before {
        background: rgb(107, 158, 226);
    }
    .slds-timeline__media--custom-custom10:before {
        background: rgb(100, 136, 227);
    }
    .slds-timeline__media--custom-custom11:before {
        background: rgb(135, 132, 234);
    }
    .slds-timeline__media--custom-custom12:before {
        background: rgb(220, 113, 209);
    }
    .slds-timeline__media--custom-custom13:before {
        background: rgb(223, 97, 132);
    }
    .slds-timeline__media--custom-custom14:before {
        background: rgb(60, 194, 179);
    }
    .slds-timeline__media--custom-custom15:before {
        background: rgb(247, 126, 117);
    }
    .slds-timeline__media--custom-custom16:before {
        background: rgb(233, 175, 103);
    }
    .slds-timeline__media--custom-custom17:before {
        background: rgb(172, 211, 96);
    }
    .slds-timeline__media--custom-custom18:before {
        background: rgb(77, 202, 118);
    }
    .slds-timeline__media--custom-custom19:before {
        background: rgb(58, 190, 177);
    }
    .slds-timeline__media--custom-custom20:before {
        background: rgb(72, 199, 200);
    }
    .slds-timeline__media--custom-custom21:before {
        background: rgb(138, 122, 237);
    }
    .slds-timeline__media--custom-custom22:before {
        background: rgb(139, 133, 249);
    }
    .slds-timeline__media--custom-custom23:before {
        background: rgb(176, 112, 230);
    }
    .slds-timeline__media--custom-custom24:before {
        background: rgb(229, 103, 152);
    }
    .slds-timeline__media--custom-custom25:before {
        background: rgb(228, 111, 190);
    }
    .slds-timeline__media--custom-custom26:before {
        background: rgb(118, 152, 240);
    }
    .slds-timeline__media--custom-custom27:before {
        background: rgb(90, 176, 210);
    }
    .slds-timeline__media--custom-custom28:before {
        background: rgb(137, 192, 89);
    }
    .slds-timeline__media--custom-custom29:before {
        background: rgb(189, 210, 95);
    }
    .slds-timeline__media--custom-custom30:before {
        background: rgb(245, 159, 113);
    }
    .slds-timeline__media--custom-custom31:before {
        background: rgb(235, 104, 127);
    }
    .slds-timeline__media--custom-custom32:before {
        background: rgb(56, 195, 147);
    }
    .slds-timeline__media--custom-custom33:before {
        background: rgb(151, 207, 93);
    }
    .slds-timeline__media--custom-custom34:before {
        background: rgb(213, 138, 106);
    }
    .slds-timeline__media--custom-custom35:before {
        background: rgb(233, 99, 126);
    }
    .slds-timeline__media--custom-custom36:before {
        background: rgb(212, 114, 212);
    }
    .slds-timeline__media--custom-custom37:before {
        background: rgb(140, 137, 242);
    }
    .slds-timeline__media--custom-custom38:before {
        background: rgb(83, 182, 215);
    }
    .slds-timeline__media--custom-custom39:before {
        background: rgb(79, 190, 117);
    }
    .slds-timeline__media--custom-custom40:before {
        background: rgb(131, 199, 94);
    }
    .slds-timeline__media--custom-custom41:before {
        background: rgb(67, 181, 181);
    }
    .slds-timeline__media--custom-custom42:before {
        background: rgb(207, 208, 91);
    }
    .slds-timeline__media--custom-custom43:before {
        background: rgb(127, 147, 249);
    }
    .slds-timeline__media--custom-custom44:before {
        background: rgb(200, 202, 88);
    }
    .slds-timeline__media--custom-custom45:before {
        background: rgb(217, 88, 121);
    }
    .slds-timeline__media--custom-custom46:before {
        background: rgb(103, 165, 231);
    }
    .slds-timeline__media--custom-custom47:before {
        background: rgb(95, 204, 100);
    }
    .slds-timeline__media--custom-custom48:before {
        background: rgb(239, 105, 127);
    }
    .slds-timeline__media--custom-custom49:before {
        background: rgb(226, 92, 128);
    }
    .slds-timeline__media--custom-custom50:before {
        background: rgb(73, 188, 211);
    }
    .slds-timeline__media--custom-custom51:before {
        background: rgb(216, 199, 96);
    }
    .slds-timeline__media--custom-custom52:before {
        background: rgb(238, 142, 111);
    }
    .slds-timeline__media--custom-custom53:before {
        background: rgb(243, 110, 131);
    }
    .slds-timeline__media--custom-custom54:before {
        background: rgb(234, 112, 177);
    }
    .slds-timeline__media--custom-custom55:before {
        background: rgb(214, 110, 224);
    }
    .slds-timeline__media--custom-custom56:before {
        background: rgb(113, 141, 235);
    }
    .slds-timeline__media--custom-custom57:before {
        background: rgb(90, 156, 221);
    }
    .slds-timeline__media--custom-custom58:before {
        background: rgb(52, 181, 157);
    }
    .slds-timeline__media--custom-custom59:before {
        background: rgb(227, 208, 103);
    }
    .slds-timeline__media--custom-custom60:before {
        background: rgb(191, 90, 136);
    }
    .slds-timeline__media--custom-custom61:before {
        background: rgb(245, 115, 118);
    }
    .slds-timeline__media--custom-custom62:before {
        background: rgb(107, 146, 220);
    }
    .slds-timeline__media--custom-custom63:before {
        background: rgb(124, 207, 96);
    }
    .slds-timeline__media--custom-custom64:before {
        background: rgb(97, 143, 216);
    }
    .slds-timeline__media--custom-custom65:before {
        background: rgb(242, 121, 171);
    }
    .slds-timeline__media--custom-custom66:before {
        background: rgb(216, 190, 95);
    }
    .slds-timeline__media--custom-custom67:before {
        background: rgb(248, 125, 118);
    }
    .slds-timeline__media--custom-custom68:before {
        background: rgb(242, 105, 121);
    }
    .slds-timeline__media--custom-custom69:before {
        background: rgb(237, 99, 135);
    }
    .slds-timeline__media--custom-custom70:before {
        background: rgb(231, 105, 180);
    }
    .slds-timeline__media--custom-custom71:before {
        background: rgb(227, 110, 227);
    }
    .slds-timeline__media--custom-custom72:before {
        background: rgb(141, 155, 251);
    }
    .slds-timeline__media--custom-custom73:before {
        background: rgb(103, 158, 240);
    }
    .slds-timeline__media--custom-custom74:before {
        background: rgb(65, 200, 160);
    }
    .slds-timeline__media--custom-custom75:before {
        background: rgb(205, 159, 101);
    }
    .slds-timeline__media--custom-custom76:before {
        background: rgb(219, 109, 122);
    }
    .slds-timeline__media--custom-custom77:before {
        background: rgb(181, 93, 91);
    }
    .slds-timeline__media--custom-custom78:before {
        background: rgb(90, 149, 221);
    }
    .slds-timeline__media--custom-custom79:before {
        background: rgb(142, 211, 99);
    }
    .slds-timeline__media--custom-custom80:before {
        background: rgb(101, 154, 213);
    }
    .slds-timeline__media--custom-custom81:before {
        background: rgb(218, 98, 127);
    }
    .slds-timeline__media--custom-custom82:before {
        background: rgb(209, 91, 151);
    }
    .slds-timeline__media--custom-custom83:before {
        background: rgb(231, 128, 111);
    }
    .slds-timeline__media--custom-custom84:before {
        background: rgb(246, 112, 123);
    }
    .slds-timeline__media--custom-custom85:before {
        background: rgb(242, 104, 145);
    }
    .slds-timeline__media--custom-custom86:before {
        background: rgb(226, 96, 171);
    }
    .slds-timeline__media--custom-custom87:before {
        background: rgb(216, 118, 229);
    }
    .slds-timeline__media--custom-custom88:before {
        background: rgb(153, 111, 230);
    }
    .slds-timeline__media--custom-custom89:before {
        background: rgb(62, 153, 190);
    }
    .slds-timeline__media--custom-custom90:before {
        background: rgb(34, 164, 138);
    }
    .slds-timeline__media--custom-custom91:before {
        background: rgb(191, 123, 102);
    }
    .slds-timeline__media--custom-custom92:before {
        background: rgb(81, 126, 130);
    }
    .slds-timeline__media--custom-custom93:before {
        background: rgb(144, 77, 76);
    }
    .slds-timeline__media--custom-custom94:before {
        background: rgb(67, 156, 186);
    }
    .slds-timeline__media--custom-custom95:before {
        background: rgb(139, 207, 106);
    }
    .slds-timeline__media--custom-custom96:before {
        background: rgb(109, 157, 227);
    }
    .slds-timeline__media--custom-custom97:before {
        background: rgb(221, 96, 133);
    }
    .slds-timeline__media--custom-custom98:before {
        background: rgb(225, 190, 92);
    }
    .slds-timeline__media--custom-custom99:before {
        background: rgb(240, 133, 110);
    }
    .slds-timeline__media--custom-custom100:before {
        background: rgb(225, 93, 118);
    }
    .slds-timeline__media--standard-log-a-call:before {
        background: rgb(72, 195, 204);
    }
    .slds-timeline__media--standard-document:before {
        background: rgb(186, 172, 147);
    }
    .slds-timeline__media--standard-environment-hub:before {
        background: rgb(84, 105, 141);
    }
    .slds-timeline__media--standard-flow:before {
        background: rgb(84, 105, 141);
    }
    .slds-timeline__media--standard-sossession:before {
        background: rgb(84, 105, 141);
    }
    .slds-timeline__media--standard-process:before {
        background: rgb(84, 105, 141);
    }
    .slds-timeline__media--standard-news:before {
        background: rgb(127, 141, 225);
    }
    .slds-timeline__media--standard-home:before {
        background: rgb(239, 126, 173);
    }
    .slds-timeline__media--standard-account:before {
        background: rgb(127, 141, 225);
    }
    .slds-timeline__media--standard-apps-admin:before {
        background: rgb(152, 149, 238);
    }
    .slds-timeline__media--standard-announcement:before {
        background: rgb(98, 183, 237);
    }
    .slds-timeline__media--standard-person-account:before {
        background: rgb(127, 141, 225);
    }
    .slds-timeline__media--standard-social:before {
        background: rgb(234, 116, 162);
    }
    .slds-timeline__media--standard-campaign-members:before {
        background: rgb(244, 151, 86);
    }
    .slds-timeline__media--standard-article:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-answer-public:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-answer-private:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-answer-best:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-avatar-loading:before {
        background: rgb(184, 195, 206);
    }
    .slds-timeline__media--standard-campaign:before {
        background: rgb(244, 151, 86);
    }
    .slds-timeline__media--standard-calibration:before {
        background: rgb(71, 207, 210);
    }
    .slds-timeline__media--standard-avatar:before {
        background: rgb(98, 183, 237);
    }
    .slds-timeline__media--standard-approval:before {
        background: rgb(80, 204, 122);
    }
    .slds-timeline__media--standard-apps:before {
        background: rgb(60, 151, 221);
    }
    .slds-timeline__media--standard-user:before {
        background: rgb(52, 190, 205);
    }
    .slds-timeline__media--standard-evernote:before {
        background: rgb(134, 200, 111);
    }
    .slds-timeline__media--standard-coaching:before {
        background: rgb(246, 117, 148);
    }
    .slds-timeline__media--standard-connected-apps:before {
        background: rgb(152, 149, 238);
    }
    .slds-timeline__media--standard-drafts:before {
        background: rgb(108, 161, 233);
    }
    .slds-timeline__media--standard-email:before {
        background: rgb(149, 174, 197);
    }
    .slds-timeline__media--standard-email-iq:before {
        background: rgb(160, 148, 237);
    }
    .slds-timeline__media--standard-endorsement:before {
        background: rgb(139, 154, 227);
    }
    .slds-timeline__media--standard-event:before {
        background: rgb(235, 112, 146);
    }
    .slds-timeline__media--standard-dropbox:before {
        background: rgb(82, 174, 249);
    }
    .slds-timeline__media--standard-concur:before {
        background: rgb(76, 195, 199);
    }
    .slds-timeline__media--standard-email-chatter:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-case-transcript:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-case-email:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-case-log-a-call:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-case-comment:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-case-change-status:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-work-order:before {
        background: rgb(80, 227, 194);
    }
    .slds-timeline__media--standard-work-order-item:before {
        background: rgb(51, 168, 220);
    }
    .slds-timeline__media--standard-client:before {
        background: rgb(0, 210, 190);
    }
    .slds-timeline__media--standard-contract:before {
        background: rgb(110, 192, 110);
    }
    .slds-timeline__media--standard-dashboard:before {
        background: rgb(239, 110, 100);
    }
    .slds-timeline__media--standard-case:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-empty:before {
        background: rgb(129, 153, 175);
    }
    .slds-timeline__media--standard-default:before {
        background: rgb(129, 153, 175);
    }
    .slds-timeline__media--standard-custom:before {
        background: rgb(129, 153, 175);
    }
    .slds-timeline__media--standard-canvas:before {
        background: rgb(129, 153, 175);
    }
    .slds-timeline__media--standard-contact:before {
        background: rgb(160, 148, 237);
    }
    .slds-timeline__media--standard-portal:before {
        background: rgb(174, 199, 112);
    }
    .slds-timeline__media--standard-product:before {
        background: rgb(183, 129, 211);
    }
    .slds-timeline__media--standard-pricebook:before {
        background: rgb(183, 129, 211);
    }
    .slds-timeline__media--standard-feed:before {
        background: rgb(98, 183, 237);
    }
    .slds-timeline__media--standard-feedback:before {
        background: rgb(109, 161, 234);
    }
    .slds-timeline__media--standard-file:before {
        background: rgb(186, 172, 147);
    }
    .slds-timeline__media--standard-goals:before {
        background: rgb(86, 170, 223);
    }
    .slds-timeline__media--standard-groups:before {
        background: rgb(119, 158, 242);
    }
    .slds-timeline__media--standard-household:before {
        background: rgb(0, 175, 160);
    }
    .slds-timeline__media--standard-hierarchy:before {
        background: rgb(52, 190, 205);
    }
    .slds-timeline__media--standard-insights:before {
        background: rgb(236, 148, 237);
    }
    .slds-timeline__media--standard-investment-account:before {
        background: rgb(75, 192, 118);
    }
    .slds-timeline__media--standard-performance:before {
        background: rgb(248, 177, 86);
    }
    .slds-timeline__media--standard-link:before {
        background: rgb(122, 154, 230);
    }
    .slds-timeline__media--standard-metrics:before {
        background: rgb(86, 170, 223);
    }
    .slds-timeline__media--standard-note:before {
        background: rgb(230, 212, 120);
    }
    .slds-timeline__media--standard-lead:before {
        background: rgb(248, 137, 98);
    }
    .slds-timeline__media--standard-opportunity:before {
        background: rgb(252, 185, 91);
    }
    .slds-timeline__media--standard-call:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-call-history:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-orders:before {
        background: rgb(118, 158, 217);
    }
    .slds-timeline__media--standard-post:before {
        background: rgb(101, 202, 228);
    }
    .slds-timeline__media--standard-poll:before {
        background: rgb(105, 155, 225);
    }
    .slds-timeline__media--standard-photo:before {
        background: rgb(215, 209, 209);
    }
    .slds-timeline__media--standard-people:before {
        background: rgb(52, 190, 205);
    }
    .slds-timeline__media--standard-generic-loading:before {
        background: rgb(184, 195, 206);
    }
    .slds-timeline__media--standard-group-loading:before {
        background: rgb(184, 195, 206);
    }
    .slds-timeline__media--standard-recent:before {
        background: rgb(108, 161, 233);
    }
    .slds-timeline__media--standard-solution:before {
        background: rgb(143, 201, 114);
    }
    .slds-timeline__media--standard-record:before {
        background: rgb(125, 195, 125);
    }
    .slds-timeline__media--standard-question-best:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-question-feed:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-related-list:before {
        background: rgb(89, 188, 171);
    }
    .slds-timeline__media--standard-skill-entity:before {
        background: rgb(139, 154, 227);
    }
    .slds-timeline__media--standard-scan-card:before {
        background: rgb(243, 158, 88);
    }
    .slds-timeline__media--standard-report:before {
        background: rgb(46, 203, 190);
    }
    .slds-timeline__media--standard-quotes:before {
        background: rgb(136, 198, 81);
    }
    .slds-timeline__media--standard-task:before {
        background: rgb(75, 192, 118);
    }
    .slds-timeline__media--standard-task-2:before {
        background: rgb(75, 192, 118);
    }
    .slds-timeline__media--standard-team-member:before {
        background: rgb(242, 207, 91);
    }
    .slds-timeline__media--standard-thanks:before {
        background: rgb(233, 105, 110);
    }
    .slds-timeline__media--standard-reward:before {
        background: rgb(233, 105, 110);
    }
    .slds-timeline__media--standard-thanks-loading:before {
        background: rgb(184, 195, 206);
    }
    .slds-timeline__media--standard-today:before {
        background: rgb(239, 126, 173);
    }
    .slds-timeline__media--standard-topic:before {
        background: rgb(86, 170, 223);
    }
    .slds-timeline__media--standard-unmatched:before {
        background: rgb(98, 183, 237);
    }
    .slds-timeline__media--standard-marketing-actions:before {
        background: rgb(107, 189, 110);
    }
    .slds-timeline__media--standard-relationship:before {
        background: rgb(60, 151, 221);
    }
    .slds-timeline__media--standard-folder:before {
        background: rgb(139, 154, 227);
    }
}