<div class='nds-grid nds-wrap nds-p-around_small nds-element_text-font nds-editblock_inline'>
    {{set = ((child.eleArray[0].children.length === 0)?(child.eleArray[0].childrenC):(child.eleArray[0].children));""}}

    <div class="nds-size_12-of-12 nds-medium-size_12-of-12 nds-large-size_12-of-12 nds-m-bottom_x-small">
        <div>
            {{::child.eleArray[0].propSetMap.label}}
        </div>
        <div class="nds-m-around_xx-small nds-size_1-of-1 nds-medium_1-of-1 nds-large-size_{{action.propSetMap.controlWidth}}-of-12 nds-show_inline-block" 
            ng-style="(action.propSetMap.svgSprite && action.propSetMap.svgIcon) ? {'width' : 'auto'}:''"
            ng-repeat="action in child.eleArray[0].propSetMap.gActions" ng-include="'vlcEditBlockGlobalBtn.html'">
        </div>
    </div>
    <div class="nds-size_12-of-12 nds-medium-size_12-of-12 nds-large-size_12-of-12 nds-m-bottom_x-small"
        id ='{{::control.name}}'
        ng-repeat="control in child.eleArray"
        ng-style="control.childrenC !== undefined && {'display':'none'}"
        ng-if="set.length > 0 && !control.propSetMap.isNewInlineBlock"
        ng-init="control.showInlineEBRow = true;">

        <div class="nds-edit-block_longcards" ng-class="{'nds-edit-block_card-height': (child.editIndex == $index)}">
            <div ng-click="openEditModal(control, null, this, 'edit', $index, $event, true); control.showInlineEBRow = false;">
                <form ng-if="control.showInlineEBRow && !control.propSetMap.isNewInlineBlock" name="vlcEditBlockFormMain_{{$index}}"
                      ng-init="control.selectCheckBox = child.eleArray[0].propSetMap.selectCheckBox; initEditBlockControlLimit(control, 2);" 
                      class="nds-grid nds-cont-wrapper" 
                      
                      ng-include="'vlcEditBlockInlineDetailCont.html'">
                </form>    
            </div>
            
          
            <!-- <div ng-if="(child.editIndex == $index) && !child.isEditedEditBlockForm" class="nds-editblock_inline__edit-block">
                <div ng-include="'vlcEditBlockInlineChildrenView.html'"></div>
            </div> -->
        </div>
    </div>
    <div class="nds-size_12-of-12 nds-medium-size_12-of-12 nds-large-size_12-of-12 nds-m-bottom_x-small">
        
        <div class="nds-edit-block_cards-add-card nds-edit-block_longcards" 
                ng-init="ctrlLength=0; set.length > 3 ? ctrlLength = 3 :ctrlLength = ctrlLength=set.length"
                ng-if='child.eleArray[0].propSetMap.allowNew && set.length > 0 && !child.eleArray[child.eleArray.length-1].propSetMap.isNewInlineBlock' ng-click="openEditModal(null, child, this, 'new', null, $event, true); child.eleArray[child.eleArray.length-1].showInlineEBRow = false;">


            <div class="nds-grid nds-cont-wrapper" ng-if='child.eleArray[0].propSetMap.allowNew && set.length > 0'>
                <div class="nds-edit-block_longcards-circle">
                    <span class="nds-icon_container nds-icon_container_circle">
                        <slds-svg-icon sprite="child.eleArray[0].propSetMap.svgSprite" icon="child.eleArray[0].propSetMap.svgIcon" size="'large'"></slds-svg-icon>
                    </span>
                </div>
                <div class="nds-edit-block_longcards-add-icon nds-grid nds-has-flexi-truncate nds-align_absolute-center">
                    <slds-button-svg-icon sprite="'utility'" size="'small'" icon="'add'"></slds-button-svg-icon>
                    <span>{{::((child.eleArray[0].propSetMap.newAction) ? (child.eleArray[0].propSetMap.newAction.propSetMap.label) : (child.eleArray[0].propSetMap.newLabel))}}</span>
                </div>
            </div>
    </div>
    </div>
</div>
<!-- <div class="nds-p-around_small nds-editblock_inline__new-block" ng-include="'vlcEditBlockInlineChildrenView.html'"></div> -->
<style type="text/css">
    .pac-container {
        z-index: 10000 !important;
    }
</style>