<div class='slds-col--padded slds-size--1-of-1'>
    <table class="slds-table slds-table--bordered slds-table--cell-buffer vlc-slds-table" ng-class="compareWindowWidth(768,'vlc-slds-table--stacked')" ng-init=digestOnResize()>
       <thead>
            <tr class="slds-text-heading--label">
                <th width="20px"/>
                <th scope="col">
                    <div class="slds-truncate">Primary</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate">Type</div>
                </th>
                <th scope="col">
                    <div class="slds-truncate">Name</div>
                </th>
                <!-- <th/> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='p in control.vlcSI[control.itemsKey]' ng-class="{ 'vlc-selectableitem-selected' : p.vlcSelected }" >
                <td class="slds-cell-shrink" data-label='Select'>
                    <label class="slds-checkbox">
                        <input type='checkbox' ng-model='p.vlcSelected' ng-change='onSelectItem(control, p, $index, this)' checked ng-if="bpTree.response['Task Details']['Task Sub Category']!='Amend Payment Method'" />
                        <span class="slds-checkbox--faux"></span>
                        <span class="slds-assistive-text">Select</span>
                    </label>
                </td>
                <td data-label='Primary'>
                    <div class="slds-truncate"><span class="icon icon-v-check" ng-if='p.IsPrimary'></span></div>
                </td>
                <td data-label='Type'>
                    <div class="slds-truncate">{{p.PayMethType}}</span></div>
                </td>
                <td data-label='Name'>
                    <div class="slds-truncate">{{p.Name}}</span></div>
                </td>
                <!-- <td>
                    <button type="button" class="btn btn-link" ng-click=" buttonClick(bpTree.response, control, this, p, 'Update')">
                      <span class="icon icon-v-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-link" ng-click="buttonClick(bpTree.response, control, this, p, 'Delete')">
                      <span class="icon icon-v-trash" aria-hidden="true"></span>
                    </button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>