//*** RESPONSIVE BREAKPOINTS ***//
$bp-xxsmall: 20em;
$bp-xsmall: 25em;
$bp-small: 30em;
$bp-xmedium: 43em;
$bp-phablet: 46.25em;
$bp-medium: 48em;
$bp-large: 64em;

//*** COLORS ***//
// Grays
$header-gray: #f7f9fb;
$cards-gray: #f4f6f9;
$cards-border-gray: #d8dde6;
$hover-gray: #fafaf9;
$border-gray: #dddbda;

// Newport Cards
$np-cards-border: #d7dde6;
$np-cards-bg: #f8fbfe;


// Notifications
$notify-danger: #c23934;
$notify-warning: #ffb75d;
$notify-success: #04844b;
$notify-default: #54698d;

// Neutrals
$neutral-lightest: #EEF1F6;
$neutral-light: #CFD7E6;
$neutral-medium: #A7B8D1;
$neutral-dark: #4F6A92;

// Modals
$modal-overlay: #7e8c99;

// Primary Colors
$primary-slds-navy: #16325c;
$primary-alternative: #4A90E2;
$primary-lightest: #0C8EFF;
$primary-light: #0070D2;
$primary-medium: #005FB2;
$primary-dark: #00396B;
$highlight-blue: #F8FBFE;
$primary-orange: #FF6E0D;

// Secondary Colors
$secondary-pink: #EF7EAD;
$secondary-green: #4BC076;
$secondary-aqua: #50E3C2;
$secondary-purple: #7F8DE1;
$secondary-orange: #F88962;

// Other Colors
$slds-red: #ef6e64;