.via-slds {
    .select-enterprise-quote {
        height: 82vh;
        .margin-top-two {
            margin-top: 2px;
        }
        .radio-selection-cell {
            width: 5%;
        }
    }
    .enterprise-cart-popup {
        .slds-input {
           min-height: 2rem;
           height: 3rem;
       }
    }
}