<div class='nds-col_padded nds-size_1-of-1 nds-element_text-font nds-table_custom'>
    <table class="nds-table nds-table_bordered nds-table_cell-buffer nds-border_right nds-max-medium-table_stacked-horizontal" ng-init=digestOnResize()>
        <thead>
            <tr class="nds-text-title_caps">
                <th scope="col" style="width: 2rem; padding: .5rem .5rem; border-radius: 5px 5px 0 0;">
                    <div class="nds-cell-shrink" ng-if="control.propSetMap.selectMode === 'Multi'">
                        <!-- <span class="nds-checkbox">
                            <input type="checkbox" name="options" id="checkbox-5" tabindex="-1" value="on" ng-model='control.vlcSelectedAll' ng-change='onSelectItem(control, control.vlcSI[control.itemsKey], null, this, null, true)'/>
                                <label class="nds-checkbox__label" for="checkbox-5">
                                <span class="nds-checkbox_faux"></span>
                            </label>
                        </span> -->
                    </div>
                </th>
                <th scope="col">
                    <div class="nds-truncate">{{::customLabels.OmniAssetSerialNumber}}</div>
                </th>
                <th scope="col">
                    <div class="nds-truncate">{{::customLabels.OmniAssetName}}</div>
                </th>
                <th scope="col">
                    <div class="nds-truncate">{{::customLabels.OmniAssetProductName}}</div>
                </th>
                <th scope="col">
                    <div class="nds-truncate">{{::customLabels.OmniAssetActivationDate}}</div>
                </th>
                <th width="1px" style="border-radius: 5px 5px 0 0;"/>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='item in control.vlcSI[control.itemsKey]'>
                <td class="nds-cell-shrink" role="gridcell" style="width: 2rem; padding: .5rem .5rem;;">
                    <span class="nds-checkbox">
                        <input type="checkbox" id="selectable-item-select-checkbox_{{$index}}" tabindex="-1" ng-model='item.vlcSelected' ng-change='onSelectItem(control, item, $index, this)'/>
                        <label class="nds-checkbox__label" for="selectable-item-select-checkbox_{{$index}}">
                            <span class="nds-checkbox_faux"></span>
                        </label>
                    </span>
                </td>
                <td data-label='{{::customLabels.OmniAssetSerialNumber}}'>
                    <div class="nds-truncate">{{item['Serial Number']}}</div>
                </td>
                <td data-label='{{::customLabels.OmniAssetName}}'>
                    <div class="nds-truncate">{{item['Asset Name']}}</div>
                </td>
                <td data-label='{{::customLabels.OmniAssetProductName}}'>
                    <div class="nds-truncate">{{item['Product Name']}}</div>
                </td>
                <td data-label='{{::customLabels.OmniAssetActivationDate}}'>
                    <div class="nds-truncate">{{item['Activation Date']}}</div>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>