/*** CPQ THEME VARIABLES ***/
@import "cpq-theme-variables";

/*** MIXINS ***/
@import "cpq-card-mixin";
@import "cpq-mixin";

/* $cpq-namespace is defined in cpq-base-variables */
$namespace: $cpq-namespace;
@include cardMixin($namespace);

/*** STYLES ***/
.vlocity {
    &.via-slds {
        .#{$namespace}-product-item {
            border-bottom: $cpq-product-item-padding solid $cpq-page-bg-color;
            
            .#{$namespace}-product-item-container {
                padding: $cpq-padding-large-vertical 0px;
                margin: 0px $cpq-padding-large-horizontal;
            
                .#{$namespace}-product-item-select-checkbox {
                    // Ensure atleast 40px width for inputs for device touch area
                    padding: $cpq-padding-small-horizontal;
                    margin-top: -$cpq-padding-small-horizontal/2;
                }
                .#{$namespace}-product-name {
                    font-weight: $cpq-headings-font-weight;
                    line-height: 30px;
                }
                .#{$namespace}-product-link {
                    line-height: 30px;
                    color: $cpq-product-link-color;
                }
                .#{$namespace}-product-price {
                    padding-right: $cpq-padding-large-horizontal;
                    padding-top:$cpq-padding-large-vertical;
                    color: $dark-gray;
                    &:last-child {
                        padding-bottom:$cpq-padding-large-vertical;
                    }
                    .#{$namespace}-price-label {
                      font-size: $cpq-cart-item-attr-label-font-size;
                    }
                    .#{$namespace}-loyalty-points {
                        color: $cpq-loyalty-points-color;
                    }
                }
                .#{$namespace}-product-price .#{$namespace}-item-product-messages {
                    font-size: 95%;

                    .#{$namespace}-error-msg {
                        color: $error;
                    }
                    .#{$namespace}-warning-msg {
                        color: $warning;
                    }
                }
            }
            
            .#{$namespace}-product-actions {
                padding-top:$cpq-padding-large-vertical;
                padding-bottom:$cpq-padding-large-vertical; 
                
                .#{$namespace}-add-button {
                    padding-left:$cpq-padding-small-horizontal;
                    padding-right:$cpq-padding-small-horizontal;
               }
            }
        }
    }
}

[dir=rtl] .vlocity {
    &.via-slds {
        .#{$namespace}-product-item {
            .#{$namespace}-product-item-container {
                .#{$namespace}-product-price div {
                    padding-right: 0;
                    padding-left: $cpq-padding-large-horizontal;
                }
            }
        }
    }
}