<ul class="nds-form-element" horizontalMode='{{false !== control.propSetMap.horizontalMode}}'>
    <li class="nds-form-element__control" ng-repeat='option in getOptions(control, this.$parent) track by option.name'>
        <label class="nds-checkbox" ng-class="{'itemSelected': option.selected}" >
            <input id='{{::control.name}}'
                   ng-disabled='control.ro'
                   type='checkbox'
                   ng-model='option.selected'
                   vlc-slds-mu-val-checker="response"
                   ng-change='onMultiSelect(this, control, option)'/> 

            <span ng-if='control.propSetMap.horizontalMode != "image"'class="nds-checkbox_faux"></span>
            <span ng-if='control.propSetMap.horizontalMode != "image"'class="nds-form-element__label">{{option.value}}</span>
            <span ng-if='control.propSetMap.horizontalMode == "image"' ng-include="'vlcDisplayOption.html'"></span>
        </label>
    </li>
</ul>