<div class="slds-grid slds-nowrap cpq-total-card">
    <div class="slds-col slds-shrink slds-text-align--center" ng-repeat="field in data.fields">
        <div class="slds-text-body--small">
            {{obj | getter: field: 'label' }}
        </div>
        <div class="slds-text-heading--medium">
            {{obj | getter: field | picker: field.type}}
        </div>  
    </div>
    <div class="slds-col slds-align-middle cart-action slds-no-flex">
        <button class="slds-button slds-m-left_large slds-button_brand"  
          ng-repeat="action in data.actions | limitTo:1"
          ng-click="importedScope.actionClicked(action)"
          ng-disabled="(!records.actions || !records.actions.checkout) && (records.canCheckoutDiscounts === false || records.isCartActivated === true || records.isNotActiveContractDiscountPresent === true) || importedScope.hasError || $root.isToDisableGroupButton">
          <span ng-show="records.actions && records.actions.checkout">{{::$root.vlocity.getCustomLabel(action[$root.nsPrefix+'CustomLabelName__c'] ? action[$root.nsPrefix+'CustomLabelName__c'] : action.displayName, action.displayName)}}</span>
          <span ng-show="(!records.actions || !records.actions.checkout) && records.canCheckoutDiscounts === true && records.isCartActivated === false && records.isNotActiveContractDiscountPresent === false">{{::importedScope.customLabels.CPQSubmit}}</span>
          <span ng-show="(!records.actions || !records.actions.checkout) && (records.canCheckoutDiscounts === false || records.isCartActivated === true || records.isNotActiveContractDiscountPresent === true)">
            {{::importedScope.customLabels.CPQTotalIncomplete}}
          </span>
        </button>
    </div>
</div>