<div class='slds-col--padded slds-size--1-of-1'>
    <ng-form name='loopform'
             class='slds-form-element vlc-flex'
             ng-repeat='control in child.eleArray'>

        <div vlc-slds-include="vlcLabelController.html"></div>

        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">

            <div class="vlc-control-wrapper" help="{{::control.propSetMap.help}}">
                <input id='{{::control.name}}'
                       type='email'
                       ng-disabled='control.ro'
                       ng-required='control.req'
                       class='slds-input form-control'
                       name='loopname'
                       ng-init='init(this, control)'
                       ng-model='control.response'
                       ng-model-options="{ updateOn: 'default focusout blur', debounce: { 'default': control.propSetMap.debounceValue, 'focusout': 0, 'blur': 0 } }"
                       ng-blur='aggregate(this, control.index, control.indexInParent, true, -1)'
                       vlc-slds-ng-pattern='{{::control.propSetMap.pattern}}'
                       vlc-slds-val-checker="response" />


                <label for="{{::control.name}}" class='slds-form-element__label'>{{::control.propSetMap.label}}
                    <span class='vlc-asterix icon-v-asterix'
                          ng-if='control.req'>
                    </span>
                </label>

                <!-- tooltip template -->
                <a vlc-slds-tool-tip="test" ng-show="{{control.propSetMap.help}}"> i </a>
                
            </div>

            <!-- OMNI-1718 -->
            <slds-svg-icon aria-hidden="true"
                           sprite="'utility'"
                           icon="'email'"
                           size="'small'"
                           extra-classes="'slds-button__icon slds-button__icon--large'">
            </slds-svg-icon>
            
            <div ng-include="::errHTMLId"></div>

        </div>

    </ng-form>
</div>