<div class='slds-box slds-theme--shade'>
    <div class='slds-box slds-m-top--large slds-clearfix'>

        <div ng-if="::customLabels.OmniSummary" class='slds-text-heading--label'>
            {{::customLabels.OmniSummary}}
        </div>

        <json-tree json='bpTree.responseT' skipnodes='bpTree.skipElements' collapsed-level='2' labelmap="bpTree.labelMap"></json-tree>

    </div>

    <div class='slds-box slds-m-top--large' ng-if="bpTree.previewMode">

        <div ng-if="::customLabels.OmniDataJSON" class='slds-form-element__label'>{{::customLabels.OmniDataJSON}}</div>
        <pre>{{bpTree.response | json}}</pre>

    </div>

</div>