.via-slds .via-slds-card--active {
    
    .via-slds-card__body {
        overflow: hidden;
        min-height: 310px;
      
    }
    
    .via-slds-card__header {
        background-clip: padding-box;
        background-color: #f4f6f9;
        border-bottom: 2px solid #d8dde6;
        margin-bottom: 0;
        cursor: pointer;
    }
    
    .via-slds-card__footer {
        border-top: 1px solid #d8dde6;
        margin-top: 0;
        text-align: left;
    }
    
    .via-slds-flyout-grid > :not(:empty) {
        width: 100%;
    }
    
    .via-action-icon:before {
        font-size: 200%;
    }

    .via-action-link:hover,
    .via-action-link:focus,
    .via-action-link:active {
        color: #0070d2;
        text-decoration: underline;
    }
    
    svg.via-action-icon {
        margin: 0 8px;
    }
}